
<extend name="Public:base" />
<block name="title"><title>{$title}</title></block>

<block name="body">
    <body class="selling-panel selling-preview">
</block>

<block name="content">
<div class="breadcurmbs">
    <b>你当前的位置：</b><a href="#">拍卖频道</a> > 拍卖预展
</div>
<div class="main-page clear">
<div class="l-side">
<div class="b-tit clear">
    <h2>拍卖筛选</h2>
    <div class="search">
        <input type="text" class="text" placeholder="输入你想找的拍品名称" />
        <input type="submit" class="search-btn" value="搜索" />
    </div>
</div>
<div class="filter clear">
    <p class="total">
        <span>拍品 <b>6560</b> 件</span>
        <span>拍卖专场 <b>78</b> 场</span>
        <span>拍卖会 <b>89</b> 场</span>
    </p>
    <p class="filter-classify">
        <span class="select"><a href="#">拍品</a></span>
        <span><a href="#">拍卖专场</a></span>
        <span><a href="#">拍卖会</a></span>
    </p>
    <div class="selling-date clear m-t10">
        <p class="sub-t">拍卖时间</p>
        <div class="right">
            <input type="text" class="text Wdate" onclick="WdatePicker()" /> -
            <input type="text" class="text Wdate" onclick="WdatePicker()" />
            <input type="button" class="submit" value="确定" />
        </div>
    </div>
    <div class="organize clear m-t10 bmore">
        <p class="sub-t">拍卖时间</p>
        <div class="right clear">
            <div class="list">
                <a href="#" class="select">全部</a>
                <a href="#">安徽恒丰</a>
                <a href="#">上海中福</a>
                <a href="#">荣宝斋</a>
                <a href="#">上海雅藏</a>
                <a href="#">大唐国际</a>
                <a href="#">北京艺融</a>
                <a href="#">广东保利</a>
            </div>
            <div class="more">+ 更多</div>
        </div>
    </div>
    <div class="city clear m-t10 bmore">
        <p class="sub-t">拍卖城市</p>
        <div class="right clear">
            <div class="list">
                <a href="#" class="select">全部</a>
                <a href="#">北京市</a>
                <a href="#">上海市</a>
                <a href="#">天津市</a>
                <a href="#">重庆市</a>
                <a href="#">河北省</a>
                <a href="#">山西省</a>
                <a href="#">内蒙古</a>
                <a href="#">辽宁省</a>
                <a href="#">吉林省</a>
                <a href="#">黑龙江省</a>
                <a href="#">江苏省</a>
                <a href="#">湖北省</a>
                <a href="#">湖南省</a>
                <a href="#">广东省</a>
            </div>
            <div class="more">+ 更多</div>
        </div>
    </div>
</div>
<div class="date-sort clear">
    <div class="left">
        <span>排序:</span>
							<span class="sort">
								<select>
                                    <option>日期</option>
                                </select>
							</span>
    </div>
    <div class="right">共 <b>11680</b> 条</div>
</div>
<div class="tab-list">
<div class="l-block l-title">
    <span class="l1">拍卖会名称</span>
    <span class="l2">件数</span>
    <span class="l3">拍卖公司</span>
    <span class="l4">拍卖城市</span>
    <span class="l5">预展时间</span>
    <span class="l6">状态</span>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 blue">预展中</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">第十八届书画文玩(1)</span>
        <span class="l2">13</span>
        <span class="l3">上海驰翰</span>
        <span class="l4">上海</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 orange">拍卖中</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 green">待预展</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 grey">已结束</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 blue">预展中</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">第十八届书画文玩(1)</span>
        <span class="l2">13</span>
        <span class="l3">上海驰翰</span>
        <span class="l4">上海</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 orange">拍卖中</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 green">待预展</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 grey">已结束</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 blue">预展中</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">第十八届书画文玩(1)</span>
        <span class="l2">13</span>
        <span class="l3">上海驰翰</span>
        <span class="l4">上海</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 orange">拍卖中</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 green">待预展</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
<div class="l-block">
    <p class="clear">
        <span class="l1">岁末迎春古董文物精品拍卖会(2)</span>
        <span class="l2">1</span>
        <span class="l3">香港普艺</span>
        <span class="l4">香港</span>
        <span class="l5">2014-02-15</span>
        <span class="l6 grey">已结束</span>
    </p>
    <div class="add-info">
        <ul>
            <li><a href="#">缀珍茗香—珍宝 沉香 茶具<b>[162件]</b></a></li>
            <li><a href="#">永好留真—上古至今精粹集<b>[40件]</b></a></li>
            <li><a href="#">超群藏画—老华侨珍藏特集<b>[60件]</b></a></li>
            <li><a href="#">萃古敘雅—瓷杂 文房专场<b>[376件]</b></a></li>
            <li><a href="#">交而往之—三教九流与东瀛<b>[340件]</b></a></li>
        </ul>
    </div>
</div>
</div>
<div class="page">
    <span>315条/21页</span>
    <a href="#">首页</a>
    <a href="#">◀ 上一页</a>
    <span class="current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">下一页 ▶</a>
    <a href="#">尾页</a>
</div>
</div>
<div class="r-side">
    <a href="#"><img src="{IMG_PATH}column-img/190.jpg" width="275" height="108" alt="" /></a>
    <a href="#"><img src="{IMG_PATH}column-img/191.jpg" width="275" height="108" alt="" /></a>
    <a href="#"><img src="{IMG_PATH}column-img/192.jpg" width="275" height="108" alt="" /></a>
    <a href="#"><img src="{IMG_PATH}column-img/193.jpg" width="275" height="108" alt="" /></a>
</div>
</div>
</div>
</div>
</block>
<block name="bottom_js">
    <script type="text/javascript" src="{JS_PATH}Auction/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            jumpPanel('.species','.species-jump',true,'.species-content');
            commSelect('.info-log .common-select',20);
            _chooseCity('#nav-local');
            $('.tab-list > div:odd').css('background','#f8f8f8');
            $('.bmore').each(function(){
                var key = $(this);
                key.find('.list').css('height','auto');
                if(key.find('.list').height() > 25){
                    key.find('.list').css('height','25px');
                }
                else{
                    key.find('.more').remove();
                }
                key.find('.more').click(function(){
                    if(key.find('.list').css('height') == '25px'){
                        key.find('.list').css('height','auto');
                        key.find('.more').text('- 收起');
                    }
                    else{
                        key.find('.list').css('height','25px');
                        key.find('.more').text('+ 更多');
                    }
                });
            });
        });
    </script>
</block>
