<extend name="Admin@Public:base" />
<block name="style">
    <load file="{PLUGIN_PATH}treetable/css/treetable.css" />
</block>
<!--主体内容 开始-->
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">

        <ul>
            <li class="selected">
                <a href="{:U('Message/Content/index')}">留言列表</a>
            </li>
        </ul>

        <!--搜索 开始-->
        <div class="advSearch">
            <form name="doc_search_min" action="{:U('Message/Content/index')}" method="post">
                <div class="row">
                    <label>留言标题：</label>
                    <input type="text" size="8" name="title" value="{$title}" placeholder="请输入留言标题">
                </div>
                <button class="btn fa fa-search"> 搜 索</button>
                <button class="btn fa fa-search-plus" onclick="javascript:$.dialog.open('{:U(\'Message/Content/search\')}',{title:'留言检索','lock':true});return false;"> 高级搜索</button>
            </form>
        </div>
        <!--搜索 结束-->

    </div>
    <!--导航部分 结束-->

    <!-- 数据表格 开始-->
    <form action="{:U('batch')}" method="post" class="batch">
        <table class="table">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input id="u-ck-f" type="checkbox"></th>
                <th>标题</th>
                <th>作者</th>
                <th>所属留言板</th>
                <th>留言时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <if condition="$list neq null ">
                <volist name="list" id="vo">
                    <tr>
                        <td>
                            <input class="ids" type="checkbox" name="ids[]" value="{$vo.id}">                                                 </td>
                        <td>{$vo.title}</td>
                        <td>
                            {:getUsername($vo['uid'])}
                        </td>
                        <td>{$category[$vo['mid']]}</td>
                        <td>
                            {$vo.create_time}
                        </td>
                        <td>
                            <if condition="($vo['status'] eq 1) ">
                                <a href="{:U('Message/Content/change', array('id'=>$vo['id'], 'status'=>0))}" class="ajax-get success fa fa-unlock">已审核</a>
                                <else />
                                <a href="{:U('Message/Content/change', array('id'=>$vo['id'], 'status'=>1))}" class="ajax-get error fa fa-lock">未审核</a>
                            </if>
                        </td>
                        <td style="width: 260px">
                            <a href="{:U('Message/Content/delete', array('id'=>$vo['id'],'sid'=>$vo['sid']))}" class='confirm ajax-get fa fa-trash-o red'> 删除</a>
                    </tr>
                </volist>
                <else />
                <tr><td colspan="7">没有相关数据</td></tr>
            </if>
            </tbody>
        </table>
        <div class="paging">
            <if condition="$list neq null ">
                <input type="radio" name="act" value="0" /> 未审核&nbsp;&nbsp;
                <input type="radio" name="act" value="1" /> 已审核&nbsp;&nbsp;
                <input type="radio" name="act" value="3" /> 删除&nbsp;&nbsp;
                <button type="submit" class="btn fa ajax-post" target-form="batch"> 提交操作</button>
            </if>
            {$_page}
        </div>
    </form>
    <!-- 数据表格 结束-->
</block>
<!--主体内容 结束-->
<block name="javascript">
    <script type="text/javascript">
        $(function(){
            $('.u-order').css({'width':'15px','font':'12px/15px Arial','padding':'2px 5px'});
            $('#u-ck-f').click(function(){if($('#u-ck-f').is(':checked')){$('.ids').attr('checked','true');}else{ $('.ids').removeAttr("checked");}});
        });
    </script>
</block>

