<include file="Admin@Public:header" />
<div class="container">
    <ul class="header clear">
    <li <eq name="ACTION_NAME" value="index">class="current"</eq>><a href="{:U('Identify/AdminData/index')}">鉴定信息管理</a></li>
    <li <eq name="ACTION_NAME" value="add">class="current"</eq>><a href="{:U('Identify/AdminCategory/index')}">鉴定类别管理</a></li>
    </ul>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>鉴定物品</th>
                <th>持有者ID</th>
                <th>类别</th>
                <th>鉴定状态</th>
                <th>鉴定推荐</th>
                <th>是否公开</th>
                <th>上传时间</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="v">
        <tr>
            <td>{$v['id']}</td>
            <td><if condition="$v['isok'] eq 1"><a href="{:U('Identify/AdminData/detail',array('id' => $v['id']))}">{$v['name']}<else/>{$v['name']}</a></if></td>
            <td>{$v['mid']}</td>
            <td>{:getIdentifyCategoryName($v['category'])}</td>
            <td><if condition="$v['isok']"><span style="color:#008000">已鉴定</span><else/><span style="color:#f00">未鉴定</span> <a href="{:U('Identify/AdminData/edit',array('id' => $v['id']))}">去鉴定</a></if></td>
            <td>
            <if condition="$v['ispush'] eq 1">
                <a href="{:U('Identify/AdminData/update',array('id' => $v['id'],'ispush' => '0'))}" onclick="if(confirm('确定取消推荐？')){return true; };return false;"><span style="color:#008000">推荐</span></a>
            <else/>
            <a href="{:U('Identify/AdminData/update',array('id' => $v['id'],'ispush' => '1'))}" onclick="if(confirm('确定设为推荐？')){return true; };return false;"><span style="color:#f00">未推荐</span></a>
            </if>
            </td>
            <td><if condition="$v['isopen']"><span style="color:#008000">公开</span><else/><span style="color:#f00">不公开</span></if></td>
            <td>{:date('Y-m-d H:i:s',$v['createtime'])}</td>
            <td><a href="{:U('Identify/AdminData/delete',array('id' => $v['id']))}" onclick="if(confirm('确定要删除吗？')){return true;};return false;">删除</a></td>
        </tr>
        </volist>
        </tbody>
    </table>
    <div class="page">{$page}</div>
</div>
<include file="Admin@Public:footer" />