<extend name="Admin@Public:base" />
<block name="style">
    <load file="{PLUGIN_PATH}treetable/css/treetable.css" />
    <load file="{PLUGIN_PATH}treetable/js/jquery.treetable.js" />
</block>
<block name="body">
<div class="container">
    <ul class="header clear">
    <li><a href="{:U('Auction/AdminGoods/index')}">拍卖产品管理</a></li>
    <li <eq name="ACTION_NAME" value="index">class="current"</eq>><a href="{:U('Auction/AdminCategory/index')}">拍卖类别管理</a></li>
    <li <eq name="ACTION_NAME" value="add">class="current"</eq>><a href="{:U('Auction/AdminCategory/add')}">添加拍卖类别</a></li>
    </ul>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>鉴定类别名称</th>
                <th>添加时间</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="v">
            <tr>
                <td>{$v['id']}</td>
                <td>{$v['name']}</td>
                <td>{:date('Y-m-d H:i:s',$v['createtime'])}</td>
                <td>
                    <a href="{:U('Auction/AdminCategory/edit',array('id' => $v['id']))}">编辑</a>
                    <a href="{:U('Auction/AdminCategory/delete',array('id' => $v['id']))}" onclick="if(confirm('确定要删除吗？')){return true;};return false;">删除</a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    <div class="page">{$page}</div>
</div>
</block>