<extend name="Admin@Public:base" />
<block name="body">
<div class="container">
    <ul class="header clear">
    <li <eq name="ACTION_NAME" value="index">class="current"</eq>><a href="{:U('Auction/AdminMeeting/index')}">拍卖会管理</a></li>
    <li <eq name="ACTION_NAME" value="meeting_add">class="current"</eq>><a href="{:U('Auction/AdminMeeting/meeting_add')}">添加拍卖会</a></li>
    <li <eq name="ACTION_NAME" value="meeting_special_add">class="current"</eq>><a href="{:U('Auction/AdminMeeting/meeting_special_add')}">添加拍卖会专场</a></li>
    </ul>
    <script type="text/javascript" src="http://www.yishu.com/statics/js/DatePicker/WdatePicker.js"></script>
	<script type="text/javascript">
		$("#datetime").timepicker('');
	</script>
    <form action="{:U('Auction/AdminMeeting/sadd')}" method="post">
    <table class="table table-hover">
        <thead><tr><th></th><th></th></tr></thead>
        <tbody>
            <tr><td>专场名称：</td><td><input type="text" name="name" /></td></tr>
			<tr><td>成交额：</td><td><input type="text" name="money" /></td></tr>
            <tr><td>专场缩略图：</td><td><Form function="images" parameter="thumb, thumb, $data['thumb'], auction" /></td></tr>
			<tr><td>开始时间：</td><td>
			<input type="text" name='starttime' id='starttime' class="input-big Wdate" placeholder="开始时间" onFocus="var end = $dp.$('endtime');WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',defaultDate:'',alwaysUseStartDate:true,onpicked:function(){end.focus();}});" />
			                </td></tr>
			<tr><td>截止时间：</td><td>
			<input type="text" name='endtime' id='endtime' class="input-big Wdate" placeholder="结束时间"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',alwaysUseStartDate:true,minDate:'#F{$dp.$D(starttime)}'});" /></td></tr>

            <tr><td>所属拍卖会：</td><td><select name="pid"><option value="">请选择拍卖会</option><volist name="meeting_list" id="vo"><option value="{$vo.id}">{$vo.name}</option></volist></select></td></tr>
            <tr><td>&nbsp;</td><td><input name="submit" type="submit" value="添加" class="btn btn-primary" /></td></tr>
        </tbody>
    </table>
    </form>
</div>
</block>