<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>中国-艺术网</title>
    <link href="{CSS_PATH}site.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}Artist/master-pannel.css" rel="stylesheet" type="text/css" />
    <script src="{JS_PATH}jquery-1.7.2.js"></script>
</head>
<body class="master-video-detail" >
<!-- 头部 -->
<div id="header">
    <div class="con clear">
        <div class="left">
            <a href="#"><img src="{IMG_PATH}logo.png" width="100" alt="" /></a>
        </div>
        <div class="right">
            <a href="{:U('/Artist/ArtistCategory/')}">返回大师频道</a> | <a href="{:C(WEB_URL)}">首页</a>
        </div>
    </div>
</div>
<!-- 页面内容 -->
<div class="main-container">
    <div class="top-side">
        <div class="inner-con">
            <div class="bread-crumbs"><a href="{:C(WEB_URL)}">中国艺术网</a> > <a href="{:U('/Artist/ArtistCategory/')}">大师频道</a> >访谈</div>
            <h1>{$detail.title}</h1>
            <div class="video-con">
                <video width="980" height="590" src="{$detail.video}" controls="controls"></video>
            </div>
            <div class="oth-info">
                <span>播放次数：{$detail.hits}</span>
                <span>评论次数：</span>
            </div>
        </div>
    </div>
    <div class="bottom-side">
        <div class="short-discription">
            <div class="t">简介</div>
            <div class="sub-t clear">
                <h3 class="left">{$detail.title}</h3>
                <div class="data right">发布于 {$detail.createtime|date="Y-m-d",###} 标签：{$detail.keywords}</div>
            </div>
            <div class="text">
                {$detail.description}
            </div>
        </div>

        <!--
        <div class="discuzz clear">
            <div class="left">
                <div class="advertise">
                    <a href="#"><img src="{IMG_PATH}advertis/video1.jpg" width="690" alt="" /></a>
                </div>
                <div class="fri-talk">
                    <div class="t-con clear">
                        <h2>艺友热评</h2>
                        <div class="talk-info">
                            共<b>1,2654</b>条评论，有<b>1,1403</b>人参与<a href="#">点击查看</a>
                        </div>
                    </div>
                    <div class="c-con clear">
                        <p class="avatar">
                            <img src="{IMG_PATH}column-img/100.jpg" width="90" height="90" alt="" />
                        </p>
                        <p class="area">
                            <textarea placeholder="*所有言论均属网友个人观点，请文明发帖！"></textarea>
                        </p>
                    </div>
                    <div class="b-con clear">
                        <div class="yanzheng">
                            <input type="text" placeholder="验证码" />
                            <img src="{IMG_PATH}column-img/147.jpg" alt="" />
                        </div>
                        <div class="submit">
                            <input type="button" class="red-btn" value="发表评论" />
                        </div>
                    </div>
                </div>
                <div class="new-recover">
                    <div class="title clear">
                        <div class="left">最新评论</div>
                        <div class="right"><a href="#">更多评论</a></div>
                    </div>
                    <div class="recover-list">
                        <ul>
                            <li>
                                <p class="clear">
                                    <span class="name">饲料6+1</span>
                                    <span class="data">2014-03-10  13：47：09发表</span>
                                </p>
                                <div class="text">经过我查阅地图后周密的计算，吉隆坡指向北京航线与正比夹角24度，最后联系塔台时航向北偏西27度，最后联系时应该出现紧急状况，航班想要改向最近机场河内，所以，失事地点应该位于河内机场至原航线某一点，使两线交角51度处，沿此点往河内方向100千米内搜寻一下吧。看地图这个点应该位于北部湾海域。</div>
                                <p class="b-ope">
                                    <span class="p1"><a href="#">赞[372]</a></span>
                                    <span class="p2"><a href="#">回复</a></span>
                                    <span class="p3"><a href="#">转发</a></span>
                                </p>
                            </li>
                            <li>
                                <p class="clear">
                                    <span class="name">饲料6+1</span>
                                    <span class="data">2014-03-10  13：47：09发表</span>
                                </p>
                                <div class="text">经过我查阅地图后周密的计算，吉隆坡指向北京航线与正比夹角24度，最后联系塔台时航向北偏西27度，最后联系时应该出现紧急状况，航班想要改向最近机场河内，所以，失事地点应该位于河内机场至原航线某一点，使两线交角51度处，沿此点往河内方向100千米内搜寻一下吧。看地图这个点应该位于北部湾海域。</div>
                                <p class="b-ope">
                                    <span class="p1"><a href="#">赞[372]</a></span>
                                    <span class="p2"><a href="#">回复</a></span>
                                    <span class="p3"><a href="#">转发</a></span>
                                </p>
                            </li>
                            <li>
                                <p class="clear">
                                    <span class="name">饲料6+1</span>
                                    <span class="data">2014-03-10  13：47：09发表</span>
                                </p>
                                <div class="text">经过我查阅地图后周密的计算，吉隆坡指向北京航线与正比夹角24度，最后联系塔台时航向北偏西27度，最后联系时应该出现紧急状况，航班想要改向最近机场河内，所以，失事地点应该位于河内机场至原航线某一点，使两线交角51度处，沿此点往河内方向100千米内搜寻一下吧。看地图这个点应该位于北部湾海域。</div>
                                <p class="b-ope">
                                    <span class="p1"><a href="#">赞[372]</a></span>
                                    <span class="p2"><a href="#">回复</a></span>
                                    <span class="p3"><a href="#">转发</a></span>
                                </p>
                            </li>
                            <li>
                                <p class="clear">
                                    <span class="name">饲料6+1</span>
                                    <span class="data">2014-03-10  13：47：09发表</span>
                                </p>
                                <div class="text">经过我查阅地图后周密的计算，吉隆坡指向北京航线与正比夹角24度，最后联系塔台时航向北偏西27度，最后联系时应该出现紧急状况，航班想要改向最近机场河内，所以，失事地点应该位于河内机场至原航线某一点，使两线交角51度处，沿此点往河内方向100千米内搜寻一下吧。看地图这个点应该位于北部湾海域。</div>
                                <p class="b-ope">
                                    <span class="p1"><a href="#">赞[372]</a></span>
                                    <span class="p2"><a href="#">回复</a></span>
                                    <span class="p3"><a href="#">转发</a></span>
                                </p>
                            </li>
                            <li>
                                <p class="clear">
                                    <span class="name">饲料6+1</span>
                                    <span class="data">2014-03-10  13：47：09发表</span>
                                </p>
                                <div class="text">经过我查阅地图后周密的计算，吉隆坡指向北京航线与正比夹角24度，最后联系塔台时航向北偏西27度，最后联系时应该出现紧急状况，航班想要改向最近机场河内，所以，失事地点应该位于河内机场至原航线某一点，使两线交角51度处，沿此点往河内方向100千米内搜寻一下吧。看地图这个点应该位于北部湾海域。</div>
                                <p class="b-ope">
                                    <span class="p1"><a href="#">赞[372]</a></span>
                                    <span class="p2"><a href="#">回复</a></span>
                                    <span class="p3"><a href="#">转发</a></span>
                                </p>
                            </li>
                            <li>
                                <p class="clear">
                                    <span class="name">饲料6+1</span>
                                    <span class="data">2014-03-10  13：47：09发表</span>
                                </p>
                                <div class="text">经过我查阅地图后周密的计算，吉隆坡指向北京航线与正比夹角24度，最后联系塔台时航向北偏西27度，最后联系时应该出现紧急状况，航班想要改向最近机场河内，所以，失事地点应该位于河内机场至原航线某一点，使两线交角51度处，沿此点往河内方向100千米内搜寻一下吧。看地图这个点应该位于北部湾海域。</div>
                                <p class="b-ope">
                                    <span class="p1"><a href="#">赞[372]</a></span>
                                    <span class="p2"><a href="#">回复</a></span>
                                    <span class="p3"><a href="#">转发</a></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="page">
                        <span>1/5</span>
                        <a href="#">上一页</a>
                        <a href="#">下一页</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="advertise"><a href="#"><img src="{IMG_PATH}advertis/s-advertise.jpg" width="275" alt="" /></a></div>
                <div class="advertise"><a href="#"><img src="{IMG_PATH}advertis/s-advertise.jpg" width="275" alt="" /></a></div>
            </div>
        </div>
    </div>
    -->
</div>
<!-- 底部 -->
<div id="footer">
    <div class="top">
        <a href="#">关于我们</a> ·
        <a href="#">广告业务</a> ·
        <a href="#">人才招聘</a> ·
        <a href="#">新闻动态</a> ·
        <a href="#">联系我们</a> ·
        <a href="#">客户投诉</a> ·
        <a href="#">版权说明</a> ·
        <a href="#">免责声明隐</a> ·
        <a href="#">私权保护</a> ·
        <a href="#">友情链接</a> ·
        <a href="#">专家顾问</a> ·
        <a href="#">法律顾问</a>
    </div>
    <div class="bottom">
        <p>Copyright Reserved 2000-2013 中国艺术网 版权所有</p>
        <p>电信与信息服务业务经营许可证（沪）B2-20030053广播电视制作经营许可证（沪）字第717号</p>
        <p>京公网安备110113000792号信息网络传播视听节目许可证1909402号</p>
        <p>网络文化经营许可证文网文［2009］086号互联网出版许可证［2010］445号可信网站验证服务证书2012040503023850号</p>
    </div>
</div>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(window).manhuatoTop({
            showHeight : 100,
            speed : 500
        });
    });
</script>
</body>
</html>
