<extend name="detailBase"/>
<block name="content">
<!--content  start-->
<div class="center">
<!--投资指数 start-->
<div class="investement">
   <div class="exhibition_top">个人画展</div>
   <!--个人画展start-->
        <div class="exhibition_d">
<ul>
    <volist name="list" id="vo">
        <li>
            <a href="#"><img src="{$vo.thumb}" border="0" width="180" height="230"/></a>
            <p><a href="#">{$vo.title}</a></p><p>展览地点：<u>{:getCity($vo['area'])}</u></p><p>展览时间：<u>{$vo.starttime|date='Y-m-d',###}</u></p>
        </li>
    </volist>
</ul>
</div>
   <!--end 个人画展-->
   <!--more s tart-->
   <div class="more">{$page}</div>
   <!--more end-->
  </div>
<!--end 投资指数-->

</div>
<!--content end-->
</block>
