<extend name="Admin@Public:base" />
<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
    <link href="{CSS_OTHER_PATH}/Paimai/comm.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">
    <!--快捷按钮 开始-->
   <!-- <div class="nav_btn">
        <a class="fa fa-plus-square" href="javascript:$.dialog.open('{:U('Paimai/AdminCat/add')}', {title:'添加文章', id:'adoArticle'})"> 添加文章</a>
        <a class="fa fa-plus-square" href="{:U('Mall/ArticleCategory/index')}"> 分类管理</a>
    </div>-->
    <!--快捷按钮 结束-->
    <form method="post" action="{:U('Jishou/AdminAds/update')}" style="width: 500px;height: 300px; margin: auto;" enctype='multipart/form-data'>
    <table class="m_table">
        <input type='hidden' name='ad_id' value='{$ad.ad_id}'/> 
        <tr><td width="100">该广告位名称:</td><td><input type="text" name="ad_name" required='true' value='{$ad['ad_name']}'>(必填)</td></tr>


		<tr>
			<td>链接地址：</td>
			<td>
                <input type='url' value='{$ad["ad_url"]}' name='ad_url'>
				<br>{格式如：http://www.yishu.com/23423.html}
			</td>
		</tr>

		<tr>
			<td>所属项目：</td>
			<td>
                <select name='ad_belong' required='true'>
                    <option value=''>--请选择--</option>
                    <if condition = '$ad["ad_belong"] eq "jishou"'>
                    <option value='jishou' selected='selected'>寄售</option>
                    <option value='jinrong'>金融</option>
                    <elseif condition = '$ad["ad_belong"] eq "jinrong"' />
                    <option value='jishou' >寄售</option>
                    <option value='jinrong' selected='selected'>金融</option>
                    </if>
                </select>
			</td>
		</tr>
        <tr>
            <td>广告位类型</td>
            <td>
                <select name='ad_type' required='true'>
                    <option value=''>--请选择--</option>
                    <if condition = "$ad['ad_type'] eq 1">
                    <option value='1' selected= 'selected'>上部大图位</option>
                    <option value='2'>右侧小图位</option>
                    <elseif condition = "$ad['ad_type'] eq 2"/>
                    <option value='1'>上部大图位</option>
                    <option value='2' selected='selected'>右侧小图位</option>
                    </if>
                </select>
            </td>
        </tr>
        <tr>
            <td>展示的图片</td>
            <td>
                <input type='file' name='ads_img' >
                <div>原图：<img src = '{$ad.img_path}{$ad.img_name}'  style='vertical-align:middle;width:200px;height:auto;'/></div>
                <div>说明：如果图片不换则不要选择图片，如果图片不要更换而上传的图片又选择了，请关闭页面重新打开</div>
            </td>
        </tr>
		<tr>
			<td>排序：</td>
            <td><input type='text' value='{$ad.sort_order}' name='sort_order'><br/>{默认0,高值则属性在前台显示靠前,非负}</td>
		</tr>

		
        
        <script>
            $(function(){
                    //$('form').submit(function(){
                     //   });
            })
        </script>
		
        <tr><td colspan="2" align="center"><input class="m_submit" type="submit" value="修改"></td></tr>
    </table>
    </form>
</block>

