<extend name="Admin@Public:base" />
<block name="style">
    <style type="text/css">body{width:550px}.u-brief{width:380px;height:54px;font:12px/1.5 Microsoft YaHei}</style>
</block>
<block name="body">
    <load file="{PLUGIN_PATH}uploadify/jquery.uploadify.min.js" />
    <form action="{:U('edit')}" method="post" class="editInfo">
        <table class="form">
            <tr>
                <th>选择画廊:</th>
                <td>{:tagSelectGallery($vo['gid'])}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>作品名称:</th>
                <td><input name="name" type="text" value="{$vo['name']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>选择类别:</th>
                <td>{:tagSelectCate($vo['cate_id'])}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>选择艺术家:</th>
                <td>{:tagSelectArtist($vo['aid'])}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>作品缩略图:</th>
                <td>{:hook('upload',array('model'=>'galleryWorks','type'=>'thumb','height'=>80,width=>150,'recordid'=>$vo['recordid'],'uploadify'=>'swfone'))}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>作品简介:</th>
                <td><textarea name="brief" class="u-brief">{$vo['brief']}</textarea></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>创作年份:</th>
                <td><input style="padding:2px 5px" type="text" size="6" placeholder="创作年份" name="creation" value="{$vo['creation']}" onfocus="WdatePicker({dateFmt:'yyyy'})" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>作品材质:</th>
                <td><input name="material" type="text" value="{$vo['material']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>作品尺寸:</th>
                <td><input name="size" type="text" value="{$vo['size']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
			<tr>
                <th>作品价格:</th>
                <td><input name="price" type="text" value="{$vo['price']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
			<tr>
                <th>联系电话</th>
                <td><input name="phone" type="text" value="{$vo['phone']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><input type="hidden" name="id" value="{$vo['id']}" /><button type="submit" class="btn ajax-post" target-form="editInfo">确认</button></td>
                <td></td>
            </tr>
        </table>
    </form>
</block>
<block name="javascript">
    <load file="__PUBLIC__/plugin/DatePicker/WdatePicker.js" />
    <script type="text/javascript">
        $('#gid').on('change', function(){
            var gid = $(this).children('option:selected').val();
            var uri = "{:U('Gallery/AdminWorks/artistlist')}";
            $.ajax({
                url:uri, type:'GET', data:{'gid':gid}, dataType:'jsonp', jsonp: "backfunc",
                success: function(json){
                    if(json['status'] == 1){
                        var arr = json['info'], _option = '<option value=""> -- 请选择</option>';
                        $.each(arr, function(k, v){
                            _option += '<option value="'+ v['id'] +'">'+ v['name'] +'</option>';
                        });
                        $('#aid option').remove();
                        $(_option).appendTo($('#aid'));
                    }
                }
            });
        });
    </script>
</block>