<extend name="Admin@Public:base" />

<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
</block>

<!--主体内容 开始-->
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul><li class="selected"><a href="{:U('Mall/Comment/index')}">评论列表</a></li></ul>

        <!--快捷按钮 开始-->
        <div class="nav_btn">
            <a class="fa fa-reply" href="{:U('Mall/Comment/index?reply=1')}"> 已回复</a>
            <a class="fa fa-pencil-square-o" href="{:U('Mall/Comment/index?reply=0')}"> 未回复</a>
        </div>
        <!--快捷按钮 结束-->
        <!--搜索 开始-->
        <div class="advSearch">
            <form method="post" action="{:U(index)}">
                <div class="row">
                    <label>关键字：</label>
                    <input type="text" size="8" name="kw" placeholder="请输入关键字" style="padding:2px 5px" value="{$kw}" />
                </div>
                <div class="row">
                    <label>时间：</label>
                    <input style="padding:2px 5px" value="{$start_time}" type="text" size="6" placeholder="起始时间" name='start_time' id="starttime"  onfocus="WdatePicker({onpicked:function(){$('#endtime').focus();}})"/> -
                    <input style="padding:2px 5px" value="{$end_time}" type="text" size="6" placeholder="结束时间" name='end_time' id="endtime" onfocus="WdatePicker({minDate:$('#starttime').val()})" />
                </div>
                <button type="submit" class="btn fa fa-search"> 搜 索</button>
            </form>
        </div>
        <!--搜索 结束-->
    </div>
    <!--导航部分 结束-->

    <!-- 数据表格 开始-->
    <?php
    $thead = array(
        'comment_id' => '编号',
        'uid' => array(
        '_title' => '评论者(会员)',
        'func' => 'getUserInfo($uid)',
        ),
    'content' => '评论内容',
    'goods_id' => array(
    '_title' => '被评论产品',
    'tag' => 'span',
    'func' => 'mallGoodsInfo($goods_id, "goods_name")',
    ),
    'store_uid' => array(
    '_title' => '店主',
    'func' => 'getUserInfo($store_uid)',
    ),
    'create_time' => array(
    '_title' => '评论时间',
    'tag' => 'span',
    'func' => 'date("Y-m-d H:i:s", $create_time)',
    ),
    '是否存在回复'=>array(
    ' 查看'=>array('href' => 'Mall/Comment/reply?comment_id=$comment_id', 'data'=>'$content', 'class'=>'listReply fa fa-file-text-o', 'condition'=>'$is_reply > 0',),
    ' 无'=>array('tag' => 'span', 'condition'=>'$is_reply == 0', 'class' => 'fa fa-info-circle'),
    ),
    '操作'=>array(
    ' 删除'=>array('href' => 'Mall/Comment/delete?comment_id=$comment_id', 'class'=>'ajax-get fa fa-trash-o red'),
    ),
    );
    echo $_table_list = $__controller__->tableList($_list, $thead);
    ?>
    <!-- 数据表格 结束-->
    <div class="paging">
        {$_page}
    </div>
</block>
<!--主体内容 结束-->

<block name="javascript">
<script type="text/javascript">
$(function() {
    $(".listReply").on('click', function(e){
        e.preventDefault();
        $.dialog.open(this.href, {title:'对评论 <i style="color:blue">'+ $(this).attr('data') +'</i> 的回复信息', id:'listReply'} );
    });
});
</script>
<load file="__PUBLIC__/plugin/DatePicker/WdatePicker.js" />
</block>