<extend name="Admin@Public:base" />

<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
<style type="text/css">
body{width:800px}
</style>
</block>

<!--主体内容 开始-->
<block name="body">
    <!-- 数据表格 开始-->
    <?php
        $thead = array(
            'comment_id' => '编号',
            'uid' => array(
                '_title' => '店主',
                'func' => 'getUserInfo($uid)',
            ),
            'content' => '店主的回复',
            'create_time' => array(
            '_title' => '时间',
            'tag' => 'span',
            'func' => 'date("Y-m-d H:i:s", $create_time)',
            ),
            '操作'=>array(
            ' 删除'=>array('href' => 'Mall/Comment/delete?comment_id=$comment_id&c_id=$c_id', 'class'=>'ajax-get fa fa-trash-o red'),
            ),
        );
        echo $_table_list = $__controller__->tableList($_list, $thead);
    ?>
    <!-- 数据表格 结束-->
    <div class="paging">
        {$_page}
    </div>
</block>
<!--主体内容 结束-->