<extend name="Admin@Public:base" />
<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
    <link href="{CSS_PATH}Paimai/comm.css" rel="stylesheet" type="text/css" />
    <load file="{PLUGIN_PATH}uploadify/jquery.uploadify.min.js" />
</block>
<block name="body">

    <form method="post" enctype="multipart/form-data" action="{:U('Seckill/AdminSeckillspecial/insert')}" style="width: 700px;height: 300px; margin: auto;">
    <table class="m_table">
        <tr>
            <td width="100">专场名称:</td>
            <td>
                <input type="text" name="skspecial_name" style="width:300px;">
            </td>
        </tr>
        <tr>
            <td>专场介绍:</td>
            <td>
                <input type="text" name="skspecial_intro" style="width:500px;">
            </td>
        </tr>
		<tr>
             <td>专场时间:</td>
             <td>
                 开始时间:<input type="text" name="skspecial_starttime" value="{$v.time|date='Y-m-d H:i:s',###}"><br/><br/>
                 结束时间:<input type="text" name="skspecial_endtime" value="{$v.time|date='Y-m-d H:i:s',###}">
             </td>
         </tr>
		<tr>
			<td>专场图片:</td>
		    <td style="height:150px;">
			{:hook('upload',array('model'=>'SeckillSpecial','type'=>'thumb','height'=>30,'uploadify'=>'swfone'))}
			</td>
		</tr>


        <tr>
            <td>是否显示:</td>
            <td>
                <input type="radio" checked="checked" name="skspecial_isshow" value="0"/>&nbsp;是&nbsp;
                <input type="radio" name="skspecial_isshow" value="1"/>&nbsp;否&nbsp;
            </td>
        </tr>
			<tr><td>seo标题:</td><td><input type="text" name="skspecial_seotitle"  style="width:500px;"></td></tr>
			<tr><td>seo关键字:</td><td><input type="text" name="skspecial_keywords"  style="width:500px;"></td></tr>
			<tr><td>seo内容:</td><td><input type="text" name="skspecial_seodesc"  style="width:500px;"></td></tr>

        <tr><td colspan="2" align="center"><input class="m_submit" type="submit" value="添加"></td></tr>
    </table>
    </form>
</block>
