<extend name="Admin@Public:base" />
<block name="style">
    <style type="text/css">body{width:550px}.u-brief{width:380px;height:54px;font:12px/1.5 Microsoft YaHei}</style>
</block>
<block name="body">
    <load file="{PLUGIN_PATH}uploadify/jquery.uploadify.min.js" />
    <form action="{:U('edit')}" method="post" class="editInfo">
        <table class="form">
            <tr>
                <th>选择画廊:</th>
                <td>{:tagSelectGallery($vo['gid'])}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>访谈标题:</th>
                <td><input name="title" type="text" value="{$vo['title']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>选择类别:</th>
                <td>{:tagSelectCate($vo['cate_id'])}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>关键字:</th>
                <td><input name="keywords" type="text" value="{$vo['keywords']}" /></td>
                <td></td>
            </tr>
            <tr>
                <th>缩略图:</th>
                <td>{:hook('upload',array('model'=>'galleryVisit','type'=>'thumb','height'=>80,width=>150,'recordid'=>$vo['recordid'],'uploadify'=>'swfone'))}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>访谈简介:</th>
                <td><textarea name="brief" class="u-brief">{$vo['brief']}</textarea></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>视频地址:</th>
                <td><input name="video" type="text" value="{$vo['video']}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><input type="hidden" name="id" value="{$vo['id']}" /><button type="submit" class="btn ajax-post" target-form="editInfo">确认</button></td>
                <td></td>
            </tr>
        </table>
    </form>
</block>