
<extend name="Public:base" />
<block name="title"><title>{$title}</title></block>

<block name="body">
    <body class="selling-panel selling-index"
</block>
>
<block name="content">
<div class="main-page">
<div class="top-side">
    <div class="tt clear">
        <div class="l-side">
            <div class="slideshow">
                <div class="slide-img">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="{IMG_PATH}column-img/78.gif" width="330" height="300" alt="" />
                                <p class="common-word">让徐悲鸿不安的对手与情敌</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{IMG_PATH}column-img/78.gif" width="330" height="300" alt="" />
                                <p class="common-word">让徐悲鸿不安的对手与情敌</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{IMG_PATH}column-img/78.gif" width="330" height="300" alt="" />
                                <p class="common-word">让徐悲鸿不安的对手与情敌</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{IMG_PATH}column-img/78.gif" width="330" height="300" alt="" />
                                <p class="common-word">让徐悲鸿不安的对手与情敌</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{IMG_PATH}column-img/78.gif" width="330" height="300" alt="" />
                                <p class="common-word">让徐悲鸿不安的对手与情敌</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{IMG_PATH}column-img/78.gif" width="330" height="300" alt="" />
                                <p class="common-word">让徐悲鸿不安的对手与情敌</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="c-side">
            <div class="comm-t clear">
                <h2>焦点新闻</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="content">
                <div class="main-news">
                    <p class="t"><a href="#">一台从月球返回地球的哈苏相机将会亮相</a></p>
                    <p class="article"><a href="#">在阿波罗工程中，很多具有标志性的太空历程照片被人们熟知。不过，有多少人了解这些照片是什么相机拍摄下来的呢......</a></p>
                </div>
                <div class="list-news">
                    <ul>
                        <li><a href="#">安萨斯：5-10年 法国的中国文物市场将告结束</a></li>
                        <li><a href="#">《功甫帖》之争 博物馆的“公信危机与救赎”</a></li>
                        <li><a href="#">2013年法国拍卖市场稳定成长 国际化发展凸显</a></li>
                        <li><a href="#">故宫30年来首次周一闭馆 业界为“歇气”叫好</a></li>
                        <li><a href="#">清雍正年弘治款青花龙纹碗 釉白质润造型规整</a></li>
                        <li><a href="#">回流瓷器骤然兴盛 价格与档次不成正比是原因</a></li>
                        <li><a href="#">故宫30年来首次周一闭馆 业界为“歇气”叫好</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="r-side">
            <div class="comm-t clear">
                <h2>今日开拍</h2>
                <span class="right">2014-10-12</span>
            </div>
            <div class="content">
                <ul class="hover-common-word">
                    <li>
                        <p><img src="{IMG_PATH}column-img/79.jpg" width="130" height="130" alt="" /></p>
                        <div class="common-word">
                            <a href="#">
                                <p>黄皮白玉籽玉挂件</p>
                                <p>起拍价：￥5000</p>
                                <p>出价次数：2</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <p><img src="{IMG_PATH}column-img/79.jpg" width="130" height="130" alt="" /></p>
                        <div class="common-word">
                            <a href="#">
                                <p>黄皮白玉籽玉挂件</p>
                                <p>起拍价：￥5000</p>
                                <p>出价次数：2</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <p><img src="{IMG_PATH}column-img/79.jpg" width="130" height="130" alt="" /></p>
                        <div class="common-word">
                            <a href="#">
                                <p>黄皮白玉籽玉挂件</p>
                                <p>起拍价：￥5000</p>
                                <p>出价次数：2</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <p><img src="{IMG_PATH}column-img/79.jpg" width="130" height="130" alt="" /></p>
                        <div class="common-word">
                            <a href="#">
                                <p>黄皮白玉籽玉挂件</p>
                                <p>起拍价：￥5000</p>
                                <p>出价次数：2</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tb clear">
        <a href="#"><img src="{IMG_PATH}column-img/183.jpg" width="317" height="100" alt="" /></a>
        <a href="#"><img src="{IMG_PATH}column-img/184.jpg" width="317" height="100" alt="" /></a>
        <a href="#"><img src="{IMG_PATH}column-img/185.jpg" width="317" height="100" alt="" /></a>
    </div>
</div>
<div class="hot-selling">
    <div class="comm-t clear">
        <h2>热门拍品</h2>
        <a class="more" href="#">更多</a>
    </div>
    <div class="content clear">
        <ul class="last-ele">
            <li>
                <a href="#" class="img"><img src="{IMG_PATH}column-img/186.jpg" width="170" height="170" alt="" /></a>
                <p><b>冬天街景</b></p>
                <p>估价：<b class="red">￥4000.00</b></p>
                <p>作者：南派三叔</p>
                <p>开始时间：2013-12-08 09:00</p>
            </li>
            <li>
                <a href="#" class="img"><img src="{IMG_PATH}column-img/186.jpg" width="170" height="170" alt="" /></a>
                <p><b>冬天街景</b></p>
                <p>估价：<b class="red">￥4000.00</b></p>
                <p>作者：南派三叔</p>
                <p>开始时间：2013-12-08 09:00</p>
            </li>
            <li>
                <a href="#" class="img"><img src="{IMG_PATH}column-img/186.jpg" width="170" height="170" alt="" /></a>
                <p><b>冬天街景</b></p>
                <p>估价：<b class="red">￥4000.00</b></p>
                <p>作者：南派三叔</p>
                <p>开始时间：2013-12-08 09:00</p>
            </li>
            <li>
                <a href="#" class="img"><img src="{IMG_PATH}column-img/186.jpg" width="170" height="170" alt="" /></a>
                <p><b>冬天街景</b></p>
                <p>估价：<b class="red">￥4000.00</b></p>
                <p>作者：南派三叔</p>
                <p>开始时间：2013-12-08 09:00</p>
            </li>
            <li>
                <a href="#" class="img"><img src="{IMG_PATH}column-img/186.jpg" width="170" height="170" alt="" /></a>
                <p><b>冬天街景</b></p>
                <p>估价：<b class="red">￥4000.00</b></p>
                <p>作者：南派三叔</p>
                <p>开始时间：2013-12-08 09:00</p>
            </li>
        </ul>
    </div>
</div>
<div class="brand">
    <div class="comm-t clear">
        <h2>品牌专区</h2>
        <a href="#" class="more">更多</a>
    </div>
    <div class="content clear">
        <ul>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
            <li><a href="#"><p><img src="{IMG_PATH}column-img/187.jpg" width="75" height="40" alt="" /></p><p>香港苏富比</p></a></li>
        </ul>
    </div>
</div>
<div class="advertise">
    <a href="#"><img src="{IMG_PATH}advertis/02.jpg" alt="" /></a>
</div>
<div class="center-side clear">
    <div class="l-side">
        <div class="selling-preview">
            <div class="comm-t clear">
                <h2>拍卖预展</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="content">
                <div class="tab">
                    <ul>
                        <li class="tt">
                            <span class="t1">拍卖行</span>
                            <span class="t2">拍卖会名称</span>
                            <span class="t3">预展时间</span>
                            <span class="t4">地点</span>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">北京冠宸</span>
                                <span class="t2">北京冠宸春秋2014年精品拍卖会</span>
                                <span class="t3">2014-12-13 19:12 - 2014-12-14 19:12</span>
                                <span class="t4">北京京瑞酒店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">北京恒盛鼎</span>
                                <span class="t2">2014春季艺术品拍卖会（北京恒盛鼎）</span>
                                <span class="t3">2014-03-21 16:03 - 2014-03-22 16:03</span>
                                <span class="t4">港澳中心瑞士酒店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">北京冠宸</span>
                                <span class="t2">北京冠宸2014年精品拍卖会</span>
                                <span class="t3">2014-06-26 19:06 - 2014-06-27 19:06</span>
                                <span class="t4">北京京瑞酒店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">雍和嘉诚</span>
                                <span class="t2">北京雍和嘉诚2014秋季艺术品拍卖会</span>
                                <span class="t3">2014-11-24 19:11 - 2014-11-29 19:11</span>
                                <span class="t4">北京汉华国际饭店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">安徽三佳</span>
                                <span class="t2">安徽三佳2014春季艺术品拍卖会</span>
                                <span class="t3">2014-02-21 13:02 - 2014-02-22 13:02</span>
                                <span class="t4">天鹅湖大酒店一楼</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="selling-result">
            <div class="comm-t clear">
                <h2>拍卖预展</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="content">
                <div class="tab">
                    <ul>
                        <li class="tt">
                            <span class="t1">拍卖行</span>
                            <span class="t2">拍卖会名称</span>
                            <span class="t3">总成交额</span>
                            <span class="t4">地点</span>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">北京冠宸</span>
                                <span class="t2">北京冠宸春秋2014年精品拍卖会</span>
                                <span class="t3 red">登陆后查看</span>
                                <span class="t4">北京京瑞酒店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">北京恒盛鼎</span>
                                <span class="t2">2014春季艺术品拍卖会（北京恒盛鼎）</span>
                                <span class="t3 red">登陆后查看</span>
                                <span class="t4">港澳中心瑞士酒店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">北京冠宸</span>
                                <span class="t2">北京冠宸2014年精品拍卖会</span>
                                <span class="t3 red">登陆后查看</span>
                                <span class="t4">北京京瑞酒店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">雍和嘉诚</span>
                                <span class="t2">北京雍和嘉诚2014秋季艺术品拍卖会</span>
                                <span class="t3 red">登陆后查看</span>
                                <span class="t4">北京汉华国际饭店</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="t1">安徽三佳</span>
                                <span class="t2">安徽三佳2014春季艺术品拍卖会</span>
                                <span class="t3 red">登陆后查看</span>
                                <span class="t4">天鹅湖大酒店一楼</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="r-side">
        <div class="selling-cellect">
            <div class="comm-t clear">
                <h2>拍品征集</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="content">
                <a href="#"><img src="{IMG_PATH}column-img/188.jpg" width="275" height="108" alt="" /></a>
                <a href="#"><img src="{IMG_PATH}column-img/188.jpg" width="275" height="108" alt="" /></a>
                <a href="#"><img src="{IMG_PATH}column-img/188.jpg" width="275" height="108" alt="" /></a>
                <a href="#"><img src="{IMG_PATH}column-img/188.jpg" width="275" height="108" alt="" /></a>
            </div>
        </div>
    </div>
</div>
<div class="advertise">
    <a href="#"><img src="{IMG_PATH}advertis/01.jpg" alt="" /></a>
</div>
<div class="selling-topic">
    <div class="comm-t clear">
        <h2>拍卖专题</h2>
        <a href="#" class="more">更多</a>
    </div>
    <div class="content clear">
        <ul class="last-ele">
            <li>
                <a class="img"><img src="{IMG_PATH}column-img/189.jpg" width="220" height="150" alt="" /></a>
                <div class="intro">
                    <p class="title">杭州文交所印石“4S服务”模式</p>
                    <p class="article">中国的传统春节刚刚过去，似乎年味还若隐若现的刺激着我们的味觉。此时，杭州文交所开年的....<a href="#">[详细]</a></p>
                </div>
            </li>
            <li>
                <a class="img"><img src="{IMG_PATH}column-img/189.jpg" width="220" height="150" alt="" /></a>
                <div class="intro">
                    <p class="title">杭州文交所印石“4S服务”模式</p>
                    <p class="article">中国的传统春节刚刚过去，似乎年味还若隐若现的刺激着我们的味觉。此时，杭州文交所开年的....<a href="#">[详细]</a></p>
                </div>
            </li>
            <li>
                <a class="img"><img src="{IMG_PATH}column-img/189.jpg" width="220" height="150" alt="" /></a>
                <div class="intro">
                    <p class="title">杭州文交所印石“4S服务”模式</p>
                    <p class="article">中国的传统春节刚刚过去，似乎年味还若隐若现的刺激着我们的味觉。此时，杭州文交所开年的....<a href="#">[详细]</a></p>
                </div>
            </li>
            <li>
                <a class="img"><img src="{IMG_PATH}column-img/189.jpg" width="220" height="150" alt="" /></a>
                <div class="intro">
                    <p class="title">杭州文交所印石“4S服务”模式</p>
                    <p class="article">中国的传统春节刚刚过去，似乎年味还若隐若现的刺激着我们的味觉。此时，杭州文交所开年的....<a href="#">[详细]</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</block>
<block name="bottom_js">
    <script type="text/javascript">
        $(document).ready(function(){
            jumpPanel('.species','.species-jump',true,'.species-content');
            commSelect('.info-log .common-select',20);
            _chooseCity('#nav-local');
            arrSlide('.slideshow');
            $('.slideshow .num-page li:last').css('margin-right','0');
            $('.top-side .r-side li:nth-child(2n)').css('margin-right','0');
            $('.hover-common-word li').hover(
                    function(){
                        $(this).find('.common-word').show();
                    },
                    function(){
                        $(this).find('.common-word').hide();
                    }
            );
            $('.top-side .tb a:last').css('margin-right','0');
            $('.brand li:nth-child(12n)').css('margin-right','0');
            $('.brand li:eq(11)~li').css('margin-top','10px');
        });
    </script>
</block>

