<style type="text/css">
    /*整体样式*/
    #_award_list{ width:432px; height:200px; position: absolute; display: none;z-index: 1000;}
    /*索引样式*/
    #_award_list ._award_index {width:100%; height:20px; }
    #_award_list ._award_index ul{list-style: none;}
    #_award_list ._award_index ul li{width: 18px; height:20px; color:#FFFFFF; line-height: 20px; cursor: pointer; text-align: center; float:left; background-color: #5978A4; font-weight: 900;  }
    #_award_list ._award_index ul li a{ display: inline-block; width:100%; height:100%; color:#FFFFFF; }
    #_award_list ._award_index ul li a.selected { background-color: coral; }
    #_award_list ._award_index ul li:hover { background-color: coral; }
    /*内容样式*/
    #_award_list .award_content {width:100%; height:180px; background-color: #ccc;}
    #_award_list .award_content .award_move {height:160px; width:432px; overflow:hidden; position: relative; zoom: 1;}
    #_award_list .award_content ._award_move-content {height: auto; position: absolute; left: 0; top: 0; width:100%;}
    #_award_list .award_content ul li { width:50%; height:32px;line-height: 32px; float: left; font-weight: 800; cursor:pointer;}
    #_award_list .award_content ul li:hover { font-size: 16px; color: coral; }
    /*操作部分样式*/
    #_award_list .award_content ._award_operate{ width:100%;  height:20px; background-color: #5978A4; line-height: 20px;}
    #_award_list .award_content ._award_operate p {float: right; padding-right: 10px; padding-bottom: 0;}
    #_award_list .award_content ._award_operate ._award_arrow {cursor: pointer;}
    #_award_list .award_content span{display: inline-block; width: 60px; height: 20px; text-align: center; line-height: 20px; color:#FFFFFF; background-color:coral; font-weight: 900; }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        var current = 1;
        $('#_award_index_list ul li').mouseenter(function(){  current = 1; });
        $('._award_next-arrow').bind('click',function(){
            var obj = $(this).parents('.award_content').find('._award_move-content');
            if(!$('._award_move-content').is(':animated')){
                var allNum = $(this).parents('.award_content').find('li').length;
                var currentShow = parseInt(allNum/25)+1;
                if(current < currentShow){
                    current ++;
                    obj.animate({
                        top: '-=160px'
                    });
                }
            }
        });
        $('._award_pev-arrow').bind('click',function(){
            var obj = $(this).parents('.award_content').find('._award_move-content');
            if(!$('._award_move-content').is(':animated')){
                var allNum = $(this).parents('.award_content').find('li').length;
                if(parseInt(obj.css('top')) < 0){
                    current --;
                    obj.animate({
                        top: '+=160px'
                    });
                }
            }
        });
    });
</script>
<div id="_award_list">
    <input type="hidden" name="award" value="{$award}" id="_award_id"  />
    <!-- 索引选项卡 -->
    <div class="_award_index" id="_award_index_list">
        <ul>
            <volist name="az" id="index">
                <if condition="$index neq 'qt'">
                    <php> $selected = $index == 'A' ? ' class="selected"' : ''; </php>
                    <li><a href="#_award_index_{$index}"{$selected}>{$index}</a></li>
                    <else/>
                    <li><a href="#_award_index_qt" class="fa fa-eye-slash" title="生僻字"></a></li>
                </if>
            </volist>
        </ul>
    </div>
    <!-- /索引选项卡 -->
    <!-- 艺术家姓名 -->
    <volist name="az" id="index">
        <php> $count = 0; </php>
        <div class="award_content" id="_award_index_{$index}">
            <div class="award_move">
                <div class="_award_move-content">
                    <ul>
                        <if condition="isset($nameAward[$index])">
                            <php> $nameArr = $nameAward[$index]; </php>
                            <volist name="nameArr" id="vo">
                                <li value="{$vo.award}" class="_award_btn_name">&nbsp;&nbsp;{$vo.name}</li>
                                <php> $count++; </php>
                            </volist>
                            <else/>
                            <li>&nbsp;</li>
                        </if>
                    </ul>
                </div>
            </div>
            <div class="_award_operate">
                <if condition="$count gt 10">
                    <p>
                        <span class="_award_arrow _award_pev-arrow"> < 上一页</span>
                        <span class="_award_arrow _award_next-arrow">下一页 > </span>
                    </p>
                </if>
            </div>
        </div>
    </volist>
    <!-- /艺术家姓名 -->
</div>
<script type="text/javascript" src="{JS_PATH}Artist/idTabs.js"></script>
<script type="text/javascript">
    var awardDomId = '{$awardDomId}';
    $(document).ready(function(){
        $('#'+awardDomId).focusin(function(){
            $("#_award_list").show();
        });
        $(document).bind('click',function(e){
            var isFocus = $("#"+awardDomId).is(":focus");
            if(false == isFocus){
                var target  = $(e.target);
                if(target.closest("#_award_list").length == 0){
                    $("#_award_list").hide();
                }
            }
        });
        $('._award_btn_name').click(function(){
            var award = $(this).attr('value'), aname= $.trim($(this).text());
            $('#'+awardDomId).val(aname);
            $('#_award_id').val(award);
            $("#_award_list").hide();
        });
        $("#_award_index_list ul").idTabs();
    });
</script>
