<extend name="Admin@Public:base" />
<block name="style">

</block>
<!--主体内容 开始-->
<block name="body">
    <!-- 数据表格 开始-->
    <form action="{:U('Artist/Award/edit')}" method="post" class="edit">
        <table class="form">
            <input type="hidden" name="id" value="{$vo.id}" />
            <tr>
                <th>奖项名称:</th>
                <td><input type="text" name="name" value="{$vo.name}" required="required" /></td>
                <td class="tips">
                    <i class="red">*必填</i>
                </td>
            </tr>

            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn ajax-post" target-form="edit">确认</button>
                    <button type="reset" class="btn btn_gary">重填</button>
                </td>
            </tr>
    </form>
    <!-- 数据表格 结束-->
</block>
<!--主体内容 结束-->

<block name="javascript">
</block>