<extend name="Admin@Public:base" />
<block name="style">
    <style type="text/css">
        body{width:800px;}
    </style>
</block>
<block name="body">
    <form action="{:U('Gallery/AdminNews/update')}" method="post" class="addNews">
        <table class="form">
            <tr>
                <th class="w1">标题:</th>
                <td>
                    <input type="text" name="title" />
                </td>
                <td class="tips">
                    <i class="red">*必填</i>
                </td>
            </tr>
            <tr>
                <th class="w1">来源:</th>
                <td>
                    <input type="text" name="copyfrom" />
                </td>
                <td class="tips">
                    <i>可选</i>
                </td>
            </tr>
            <tr>
                <th class="w1">状态:</th>
                <td>
                    <select name="status">
                        <option value="0">未审核</option>
                        <option value="1">已审核</option>
                    </select>
                </td>
                <td class="tips">
                    <i>可选</i>
                </td>
            </tr>
            <tr>
                <th class="w1">画廊:</th>
                <td>
                    {:tagSelectGallery()}
                </td>
                <td class="tips">
                    <i class="red">*必填</i>
                </td>
            </tr>
			<tr>
                <th>简介</th>
                <td>
                   <textarea name="description"></textarea>
                </td>
            </tr>
            <tr>
                <th>内容:</th>
                <td>
                    <div style="width: 85%;height:360px;">
                        <textarea name="content">{$vo.content}</textarea>{:hook('adminEditor',array('name'=>'content'))}
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn ajax-post" target-form="addNews">确认</button>
                    <button type="reset" class="btn btn_gary">重填</button>
                </td>
            </tr>
        </table>
    </form>
</block>