
<extend name="Public:base" />
<block name="title"><title>{$title}</title></block>

<block name="body">
    <body class="selling-panel selling-topic">
</block>


<block name="content">
<div class="main-page clear">
<div class="top-images">
    <ol>
        <li class="img1">
            <a href="#">
                <p><img src="{IMG_PATH}column-img/208.jpg" alt="" /></p>
                <p class="common-word">大英博物馆将展中国明代珍宝 办展方式首次尝试</p>
            </a>
        </li>
        <li class="img2">
            <a href="#">
                <p><img src="{IMG_PATH}column-img/209.jpg" alt="" /></p>
                <p class="common-word">西安博物院藏金银玉器大珍</p>
            </a>
        </li>
        <li class="img3">
            <a href="#">
                <p><img src="{IMG_PATH}column-img/210.jpg" alt="" /></p>
                <p class="common-word">让人纠结的展览标题</p>
            </a>
        </li>
        <li class="img4">
            <a href="#">
                <p><img src="{IMG_PATH}column-img/211.jpg" alt="" /></p>
                <p class="common-word">清代皇室珐琅器杭州首展</p>
            </a>
        </li>
    </ol>
</div>
<div class="main-content clear">
<div class="left-side">
    <div class="hot-topic">
        <b>热点专题：</b>
        <span>江西萍乡首次挖掘两枚新型</span>
        <span>秦寒光油画精品成为中国美术</span>
        <span>北京美术馆首次开展国际艺术</span>
    </div>
    <div class="topic-list">
        <ul>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
            <li>
                <a class="left" href="#">
                    <img src="{IMG_PATH}column-img/212.jpg" width="180" height="134" alt="" />
                </a>
                <div class="r-text">
                    <h2><a href="#">王开云作品在嘉禾秋拍双丰收</a></h2>
                    <p class="text">这是一套描绘出闺房之中的乐趣的画册《燕寝怡情》，在相同的题材之中可以说得上是精品了，就像是@中国艺术品收藏的微博之中所讲的那样子题题材之中可以说得上材之中可以说得上，图册页的...</p>
                    <a href="#" class="go-topic">进入专题</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="page">
        <span>315条/21页</span>
        <a href="#">第一页</a>
        <a href="#">上一页</a>
        <span class="current">1</span>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">下一页</a>
        <a href="#">尾页</a>
    </div>
</div>
<div class="right-side">
<div class="s-hot-topic">
    <div class="comm-t clear">
        <h2>热点专题</h2>
    </div>
    <div class="content">
        <ul class="clear">
            <li class="hover">
                <div class="list-con">
                    <span class="num top3">1</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num top3">2</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num top3">3</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">4</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">5</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">6</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">7</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">8</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">9</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
            <li>
                <div class="list-con">
                    <span class="num">10</span>
                    <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
                </div>
                <div class="add-con clear hide">
                    <a class="left" href="#">
                        <img src="{IMG_PATH}column-img/213.jpg" width="70" height="70" alt="" />
                    </a>
                    <a class="right" href="#">
                        由南京古岸艺术中心主办的共渡彼岸—Goodart签约艺术家2014迎春展将于....
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="hot-auction clear">
    <div class="comm-t clear">
        <h2>热门拍卖</h2>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="#">
                    <img src="{IMG_PATH}column-img/214.jpg" width="130" height="130" alt="" />
                    <div class="common-word">
                        <p>新疆和田玉洒</p>
                        <p>开始:2014-05-29</p>
                        <p>结束:2014-06-16</p>
                        <p>￥0</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_PATH}column-img/214.jpg" width="130" height="130" alt="" />
                    <div class="common-word">
                        <p>新疆和田玉洒</p>
                        <p>开始:2014-05-29</p>
                        <p>结束:2014-06-16</p>
                        <p>￥0</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_PATH}column-img/214.jpg" width="130" height="130" alt="" />
                    <div class="common-word">
                        <p>新疆和田玉洒</p>
                        <p>开始:2014-05-29</p>
                        <p>结束:2014-06-16</p>
                        <p>￥0</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_PATH}column-img/214.jpg" width="130" height="130" alt="" />
                    <div class="common-word">
                        <p>新疆和田玉洒</p>
                        <p>开始:2014-05-29</p>
                        <p>结束:2014-06-16</p>
                        <p>￥0</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="auction-preview">
    <div class="comm-t clear">
        <h2>拍卖预展</h2>
        <a href="#" class="more">更多</a>
    </div>
    <div class="content">
        <ul class="clear">
            <li>
                <span class="num top3">1</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num top3">2</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num top3">3</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">4</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">5</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">6</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">7</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">8</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">9</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
            <li>
                <span class="num">10</span>
                <span class="title"><a href="#">2013南京青年当代艺术展将于21</a></span>
            </li>
        </ul>
    </div>
</div>
<div class="advertise">
    <a href="#">
        <img src="{IMG_PATH}column-img/215.jpg" width="275" alt="" />
    </a>
</div>
</div>
</div>
</div>
</div>
</div>
</block>
<block name="bottom_js">
    <script type="text/javascript" src="{JS_PATH}Auction/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            jumpPanel('.species','.species-jump',true,'.species-content');
            commSelect('.info-log .common-select',20);
            _chooseCity('#nav-local');
            $('.tab-list > div:odd').css('background','#f8f8f8');
            $('.bmore').each(function(){
                var key = $(this);
                key.find('.list').css('height','auto');
                if(key.find('.list').height() > 25){
                    key.find('.list').css('height','25px');
                }
                else{
                    key.find('.more').remove();
                }
                key.find('.more').click(function(){
                    if(key.find('.list').css('height') == '25px'){
                        key.find('.list').css('height','auto');
                        key.find('.more').text('- 收起');
                    }
                    else{
                        key.find('.list').css('height','25px');
                        key.find('.more').text('+ 更多');
                    }
                });
            });
        });
    </script>
</block>
