<extend name="Admin@Public:base" />
<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
    <link href="{CSS_PATH}Paimai/comm.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">
    <!--快捷按钮 开始-->
    <div class="nav_btn">
        <a class="fa fa-plus-square" href="javascript:$.dialog.open('{:U('News/AdminNewscategory/add')}', {title:'添加栏目', id:'adoArticle',width:'1000px',height:'600px'})">添加栏目</a>

    </div>
	</br>	
    <!--快捷按钮 结束-->

    <table class="m_table">
        <tr><th>栏目id</th><th>栏目名字</th><th>汉语拼音</th><th>父级ID</th><th>是否显示</th><th>记录创建时间</th><th>排序</th><th>操作</th></tr>
        <volist name="category" id="v">
            <tr>
                <td id="id" style="text-align:center">{$v.category_id}</td>
                <td style="text-align:center">{$v.category_name}</td>
                <td style="text-align:center">{$v.category_spell}</td>
				<td style="text-align:center">{$v.category_pid}</td>
				<td style="text-align:center">
				<if condition="$v.category_isshow eq 0">
				显示
				<else />
				不显示
				</if>
				</td>
                <td style="text-align:center">{$v.category_createtime|date="Y-m-d H:i:s",###}</td>
				<td style="text-align:center">{$v.category_order}</td>
                <td style="text-align:center">
				<a href="{:U('News/AdminNewscategory/edit',array('category_id'=>$v['category_id']))}">编辑</a>
				&nbsp&nbsp|&nbsp&nbsp
				<a class="j_del" href="{:U('News/AdminNewscategory/delete',array('category_id'=>$v['category_id']))}">删除</a></td>
            </tr>
        </volist>
    </table>
       <div>{$page}</div>

    <script>
        $(function(){

            //判断删除
            $(".j_del").click(function(e){
                if(!confirm("你是否确认删除这个栏目？")){
                    e.preventDefault();
                }
            });

        })
    </script>
</block>
