<extend name="Public:base" />
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul>
            <li class="selected"><a>修改密码</a></li>
        </ul>
    </div>
    <!--导航部分 结束-->
    <form action="{:U('editpwd')}" method="post" class="updatepwd">
        <table class="form">
            <tr>
                <th class="w1">原密码:</th>
                <td><input name="oldpassword" id="oldpassword" type="password"/></td>
            </tr>
            <tr>
                <th>新密码:</th>
                <td><input name="password" id="password" type="password" /></td>
            </tr>
            <tr>
                <th>确认密码:</th>
                <td><input name="repassword" id="repassword" type="password" /></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn ajax-post" target-form="updatepwd">确认</button>
                    <button type="reset" class="btn btn_gary">重填</button>
                </td>
            </tr>
        </table>
    </form>
</block>