<extend name="Admin@Public:base" />
<block name="body">
<div class="container">
    <ul class="header clear">
    <li <eq name="ACTION_NAME" value="edit">class="current"</eq>><a href="{:U('Auction/AdminExhibit/index')}">拍卖展品管理</a></li>
    <li <eq name="ACTION_NAME" value="add">class="current"</eq>><a href="{:U('Auction/AdminExhibit/add')}">添加拍卖展品</a></li>
    </ul>
    <form method="post">
    <table class="table table-hover">
        <thead><tr><th></th><th></th></tr></thead>
        <tbody>
            <tr><td>展品名称：</td><td><input type="text" name="name" size="50" value="{$data['name']}" /></td></tr>
            <tr><td>展品分类：</td><td>{:selectAuctionCategory($data['category'])}</td></tr>
            <tr><td>作者：</td><td><input type="text" name="author" value="{$data['author']}" size="50" /></td></tr>
            <tr><td>创作年代：</td><td><input type="text" name="year" value="{$data['year']}" size="50" /></td></tr>
            <tr><td>起拍时间：</td><td>
<input type="text" name='starttime' id='starttime' value="{$data['starttime']}" class="input-big Wdate" placeholder="起拍时间" onFocus="var end = $dp.$('endtime');WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',alwaysUseStartDate:true,onpicked:function(){end.focus();}});" />
                </td></tr>
            <tr><td>结束时间：</td><td>
<input type="text" name='endtime' id='endtime' value="{$data['endtime']}" class="input-big Wdate" placeholder="结束时间"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',alwaysUseStartDate:true,minDate:'#F{$dp.$D(starttime)}'});" /></td></tr>
            <tr><td>所属拍卖会及专场：</td><td><select id="select" name="meetingid"><option selected value="{$meeting_name['id']}">{$meeting_name['name']}</option><volist name="meeting_list" id="vo"><option value="{$vo.id}">{$vo.name}</option></volist></select> &nbsp; <select id="select2" name="specialid"><option value="{$special_name['id']}">{$special_name['name']}</option></select></td></tr>
            <tr><td>展品尺寸：</td><td><input type="text" name="size" size="30" value="{$data['size']}" /></td></tr>
            <tr><td>展品重量：</td><td><input type="text" name="weight" size="20" value="{$data['weight']}" /></td></tr>
            <tr><td>展品估价</td><td><input type="text" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="price" size="30" value="{$data['price']}" /></td></tr>
            <tr><td>展品成交价：</td><td><input type="text" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="endprice" value="{$data['endprice']}" size="30" /></td></tr>
            <tr><td>展品关键字：</td><td><input type="text" name="keywords" size="40" value="{$data['keywords']}" /></td></tr>
            <tr><td>展品简述：</td><td><textarea name="brief" rows="4" style="width:500px">{$data['brief']}</textarea></td></tr>
            <tr><td>展品详细：</td><td><textarea name="content" rows="7" style="width:600px">{$data['content']}</textarea></td></tr>
            <tr><td>展品缩略图：</td><td><Form function="images" parameter="thumb, thumb, $data['thumb'], auction" /></td></tr>
            <tr><td>展品组图：</td><td><Form function="moreimages" parameter="pics, pics, $data['pics'], auction" /></td></tr>
            <tr><td>&nbsp;</td><td><input type="hidden" name="id" value="{$data['id']}" /><input name="submit" type="submit" value="编辑信息" class="btn btn-primary" /></td></tr>
        </tbody>
    </table>
    </form>
    <script type="text/javascript">
    	$(document).ready(function(){
    		$('#select').change(function(){
    			var value = $(this).val();  //拍卖会ID
    			    $('#select2').css('visibility', 'visible');
    			    $('#select2').html("<option selectd>请选择专场</option>");
	    			$.ajax({
	   					type:"get",
	   					url:"{:U('Auction/AdminExhibit/ajax')}",
	   					data:"meetingid="+value,
	   					dataType:'json',
	   					success:function(ccc) {
	   						var length = ccc.length;
	   						for(var i=0; i<length; i++) {
		   						var id='' , name='';
		   						id += ccc[i]['id'];
		   						name += ccc[i]['name'];
		   						$('#select2').append("<option value="+id+">"+name+"</option>");
		   						
		   					}
		   					
	   				    }  
   					});
   			});
    	});
    </script>
    <script type="text/javascript" src="{PLUGIN_PATH}DatePicker/WdatePicker.js"></script>
</div>
</block>