<extend name="galleryBase"/>
<block name='content'>
<!-- 栏目内容 -->
<div class="container clear">
<div class="topst">
    <div class="l-side">
        <div class="slide-img">
            <ul>
                <volist name="visit_list" id="vo">
                <li><a href="{:U('/Gallery/GalleryDetail/show/',array('to'=>'visit','id'=>$vo['id'],'gid'=>$vo['gid']))}"><img src="{$vo.thumb}" width="690" height="300" alt="{$vo.title}" /></a></li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="r-side">
        <a href="#"><img src="{IMG_PATH}column-img/131.jpg" alt=""></a>
    </div>
</div>
<div class="gallery-information-con">
<div class="l-con">
    <div class="ope">
        <div class="top clear">
            <p class="l-con">
                <span>排序：</span>
								<span class="sort-choose">
									<b>发布时间</b>
									<a class="sort-t <if condition="$_GET['order'] eq 'Asc'">select-t</if>" href="{:U('Gallery/Gallery/visit',array('order'=>'Asc'))}"></a>
									<a class="sort-b <if condition="$_GET['order'] eq 'Desc'">select-b</if>" href="{:U('Gallery/Gallery/visit',array('order'=>'Desc'))}"></a>
								</span>

            </p>
            <span class="total">共{$count}个展览</span>
        </div>
        <div class="bottom">
            <!--
            <b>热点关注：</b>
            <ys:list name="list" catid="13" order="view DESC" limit="0,3">
                <a href="{:U('/Content/Content/detail/',array('category'=>'shoucang','id'=>$list['id']))}">{$list.title|new_msubstr=###,0,12}</a>
            </ys:list>
            -->
        </div>
    </div>
    <div class="list-con">
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1513882"></script>
        <ul>
            <volist name="lists" id="vo">
                <li>
                    <div class="title clear">
                        <h2>{$vo.title}</h2>
                        <span class="date">{$vo.update_time|date='Y年m月d日 H:i',###}</span>
                    </div>
                    <div class="con clear">
                        <a class="video" href="{:U('/Gallery/GalleryDetail/show/',array('to'=>'visit','id'=>$vo['id'],'gid'=>$vo['gid']))}">
                            <img src="{$vo.thumb}" width="180" height="135" alt="{$vo.title}" />
                            <i></i>
                        </a>
                        <div class="text-con">
                            <p class="discription">{$vo.brief|new_msubstr=###,0,78,'utf-8',true}... <a href="{:U('/Gallery/GalleryDetail/show/',array('id'=>$vo['id']))}">[查看详情]</a></p>
                            <a class="discuzz" href="{:U('/Gallery/GalleryDetail/show/',array('id'=>$vo['id']))}" uyan_identify="true" >评论<span class="red">（0）</span></a>

                        </div>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
    <div class="comm-page">
        <div id="f-page">
            <if condition="$pages gt 1">{$page} 共{$pages}页 　到第 <select id="select">{$select}<select> 页 </if>
        </div>
    </div>
    <style>
        #f-page {font: 12px/15px Tahoma, Arial, SimSun; text-align: center;}
        #f-page .page{ display: inline;}
        #f-page a, #f-page span {display: inline-block;_display: inline;_zoom: 1;padding: 5px 10px;border: 1px solid #ddd;color: #111;text-decoration: none; margin: 0 3px;}
        #f-page span, #f-page a:hover {border: 1px solid #a51318;color: #fff;background: #a51318;}
    </style>
</div>
<div class="r-con">
    <!--
    <div class="hot-article comm-list">
        <h2>热门文章</h2>
        <div class="con">
            <ul>
                <ys:list name="list" catid="16" order="view DESC" limit="0,10" thumb="1">
                    <li>
                        <div class="title top3">
                            <span class="num">{$i}</span>
                            <a href="{:U('/Content/Content/detail/',array('category'=>'zonghe','id'=>$list['id']))}">{$list.title|new_msubstr=###,0,15}</a>
                        </div>
                        <div class="detail">
                            <a class="img" href="{:U('/Content/Content/detail/',array('category'=>'zonghe','id'=>$list['id']))}"><img src="{$list.url}" alt="{$vo.title}" width="70" height="70"/></a>
                            <a class="text" href="{:U('/Content/Content/detail/',array('category'=>'zonghe','id'=>$list['id']))}">{$list.description|new_msubstr=###,0,30}...</a>
                        </div>
                    </li>
                </ys:list>
            </ul>
        </div>
    </div>
    -->
    <div class="recommend-opus comm-recommend clear">
        <h2>推荐作品</h2>
        <div class="con">
            <ul>
                <volist name="gallery_works" id="vo">
                    <li>
                        <a href="{:U('Gallery/GalleryDetail/show',array('to'=>'works','id'=>$vo['id'],'gid'=>$vo['gid']))}"><img src="{$vo.thumb}" alt="{$vo.name}" width="130" height="130" /></a>
                        <p class="common-word">{$vo.name|new_msubstr=###,0,8}</p>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="recommend-master comm-recommend clear">
        <h2>推荐大师</h2>
        <div class="con">
            <ul>
                <volist name="gallery_artist" id="vo">
                    <li>
                        <a href="{:U('/Artist/ArtistDetail/index/',array('id'=>$vo['id']))}"><img src="{$vo.thumb}" alt="{$vo.name}" width="130" height="130"/></a>
                        <p class="common-word">{$vo.name}</p>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="advertise">
        <a href="javascript:;"><img src="{IMG_PATH}column-img/136.jpg" alt="" /></a>
    </div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="{JS_PATH}common.js"></script>
<script type="text/javascript" src="{JS_PATH}js.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#select").live("change",function(){
            var p = $("#select option:selected").val();
            window.location.href = "{:U('/Gallery/Gallery/visit/')}"+"?p="+p;
        })
        jumpPanel('.species','.species-jump',true,'.species-content');
        commSelect('.info-log .common-select',20);
        _chooseCity('#nav-local');
        $(window).manhuatoTop({
            showHeight : 100,
            speed : 500
        });
        arrSlide('.l-side');
        $('.active-topic li:last').css('margin-right','0');
        $('.comm-list').each(function(){
            var key = $(this);
            key.find('li:first .detail').show();
            key.find('li:first').css('background','#eee');
            key.find('li').mouseenter(
                    function(){
                        key.find('.detail').hide();
                        key.find('li').css('background','#fff');
                        $(this).find('.detail').show();
                        $(this).css('background','#eee');
                    }
            );
        });
        $('.comm-recommend').each(function(){
            $(this).find('li:nth-child(2n)').css('margin-right','0');
        });
        $('.sort-choose a').bind('click',function(){
            $(this).parent().find('a').removeClass('select-t select-b');
            var $class = $(this).attr('class');
            var a = $class.charAt($class.length - 1);
            if(a == 't'){
                $(this).addClass('select-t');
            }
            else if(a == 'b'){
                $(this).addClass('select-b');
            }
        });
    });
</script>

</block>

