<extend name="Admin@Public:base" />
<block name="style">
    <style type="text/css">
        body{width:800px;}
    </style>
</block>
<block name="body">
    <load file="{PLUGIN_PATH}uploadify/jquery.uploadify.min.js" />
    <form action="{:U('Discover/Discover/update')}" method="post" class="addDiscover">
        <table class="form">
            <tr>
                <th class="w1">作品名称:</th>
                <td>
                    <input type="text" name="name" />
                </td>
                <td class="tips">
                    <i class="red">*必填</i>
                </td>
            </tr>
            <tr>
                <th class="w1">作家名称:</th>
                <td>
                    <input type="text" name="author" />
                </td>
                <td class="tips">
                <i class="red">* 必填</i>
                </td>
            </tr>
            <tr>
                <th>作品类型:</th>
                <td><input type="text" name="type" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>作品价格:</th>
                <td>
                    <input type="text" name="price" />
                </td>
                <td class="tips">
                    <i class="red">*必填</i>
                </td>
            </tr>
            <tr>
                <th>作品缩略图:</th>
                <td>{:hook('upload',array('model'=>'Discover','type'=>'thumb','height'=>80,width=>150,'recordid'=>$vo['recordid'],'uploadify'=>'swfone'))}</td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn ajax-post" target-form="addDiscover">确认</button>
                    <button type="reset" class="btn btn_gary">重填</button>
                </td>
            </tr>
        </table>
    </form>
</block>
