<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="{CSS_PATH}style_new.css" rel="stylesheet" type="text/css">
<link href="{CSS_PATH}base_new.css" rel="stylesheet" type="text/css">
<script src="{JS_PATH}jquery1.42.min.js"></script>
<script src="{JS_PATH}jquery.SuperSlide.2.1.1.js"></script>
<script src="{JS_PATH}jquery.yomi.js"></script>
<script src="{JS_PATH}index.js"></script>
</head>
<base target="_blank">
<body>
<div class="tops">
    <div class="w1200">
       <p>
           <a href="">国艺术网</a>
           <a href="">进入旧版</a>
           <a href="">设为首页</a>
           <a href="">收藏本站</a>|
           <a href="">免费注册</a>
           <a href="">用户登录</a>
       </p>
    </div>
</div>
<div class="topm">
    <div class="w1200">
         <div class="top-logo"><a href=""><img src="{IMG_PATH}Home/Index/icons/top-logo.jpg"></a></div>
         <nav>
             <p><a href="">首页</a></p>
             <p><a href="">拍卖</a></p>
             <p><a href="">金融</a></p>
             <p><a href="">寄售</a></p>
         </nav>
    </div>
</div>
<div class="topb">
    <p>
        <a href="">资讯</a>/
        <a href="">展讯</a>/
        <a href="">大师</a>/
        <a href="">拍卖资讯</a>/
        <a href="">收藏知识</a>/
        <a href="">艺术问答</a>/
        <a href="">古玩城</a>/
        <a href="">艺术百科</a>
    </p>
</div>
<div class="w1200">
<!--拍卖切换部分开始-->
    <div class="auction border mt30">
         <div class="tab-title">             
             <span class="selected">今日专场</span>
             <span>推荐专场</span>
             <h1>拍卖</h1>
         </div>
         <div class="tab-content">
             <div class="tab">
                <div class="todey-sell">			
                    <div class="bd">
                        <ul>
                            <li>
                                <div class="cont border fl">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <div class="yomibox2" data="2015-10-01 00:00:21"></div>
                                </div>
                                <div class="cont border fr">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <div class="yomibox2" data="2015-10-01 00:00:21"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cont border fl">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <div class="yomibox2" data="2015-10-01 00:00:21"></div>
                                </div>
                                <div class="cont border fr">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <div class="yomibox2" data="2015-10-01 00:00:21"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cont border fl">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <div class="yomibox2" data="2015-10-01 00:00:21"></div>
                                </div>
                                <div class="cont border fr">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <div class="yomibox2" data="2015-10-01 00:00:21"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
            <div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
		</div>
             </div>
             <div class="tab">
                        <div class="recommend">			
                    <div class="bd">
                        <ul>
                            <li>
                                <div class="cont border fl">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <p>2014年11月14日00:00</p>
                                </div>
                                <div class="cont border fr">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <p>2014年11月14日00:00</p>
                                </div>
                            </li>
                            <li>
                                <div class="cont border fl">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <p>2014年11月14日00:00</p>
                                </div>
                                <div class="cont border fr">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <p>2014年11月14日00:00</p>
                                </div>
                            </li>
                            <li>
                                <div class="cont border fl">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <p>2014年11月14日00:00</p>
                                </div>
                                <div class="cont border fr">
                                    <a href=""><img src="{IMG_PATH}Home/Index/auction1.jpg"></a>
                                    <div class="text">
                                        <h2>和田玉专场</h2>
                                        <h3><span>20</span><br>次出价</h3>
                                        <h3><span>20</span><br>人围观</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <h5>距结束：</h5>
                                    <p>2014年11月14日00:00</p>
                                </div>
                            </li>
                        </ul>
                    </div>
            <div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
		</div> 
             </div>
         </div>
    </div>
<!--拍卖切换部分结束-->
<!--资讯开始-->
    <div class="information border mt30">
        <div class="box-title">
            <h2>资讯</h2>
            <p><a href="">展览动态</a>|<a href="">艺术趣闻</a>|<a href="">人文艺术</a></p>             
        </div>
        <div class="todey-news fl">
            <h2>今日要闻</h2>
            <div class="newFocus">
                <div class="bd">
                    <ul>
					  <volist name="today_news" id="vo" key="k" offset='1' length='6'>
					    <li><a href="{$vo.news_url}"><img src="{$vo.thumb}" /></a><div class="gray-bg"></div><p>{:substr($vo['news_name'],0,11)}</p></li>
				      </volist>
                     </ul>
                </div>
                <div class="hd">
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
            <volist name="today_news" id="vo" key="k" offset='1' length='6'>
			  <p><a href="{$vo.news_url}">{$vo['news_name']}</a></p>
			</volist>
        </div>
        <div class="hot-spot fl">
            <h2>行业热点</h2>
            <h3><a href="">丝绸之路文物展汇集大牌国宝</a></h3>
            <h4><a href="">[目前文物展览“丝绸之路文物展”正在中国国家博物馆举办，这次展览汇聚了众多珍贵的文物，可以说是国宝云集。]</a></h4>
            <ul>
                <li><a href="">丝绸之路文物展汇集大牌国宝 部分文物难再展出</a><br><a class="a1" href="">[目前文物展览“丝绸之路文物展”正在中国国家博物馆举办]</a></li>
                <li><a href="">丝绸之路文物展汇集大牌国宝 部分文物难再展出</a><br><a class="a1" href="">[目前文物展览“丝绸之路文物展”正在中国国家博物馆举办]</a></li>
                <li><a href="">丝绸之路文物展汇集大牌国宝 部分文物难再展出</a><br><a class="a1" href="">[目前文物展览“丝绸之路文物展”正在中国国家博物馆举办]</a></li>
                <li><a href="">丝绸之路文物展汇集大牌国宝 部分文物难再展出</a><br><a class="a1" href="">[目前文物展览“丝绸之路文物展”正在中国国家博物馆举办]</a></li>
            </ul>
        </div>
        <div class="the-master fr">
            <h2>名家大师</h2>
            <ul id="squeezebox">
                 <li>
                     <h5 style="display:none;">文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text" style="display:block"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
                 <li>
                     <h5>文艺不分家：那些文人和画家之间的传奇故事</h5>
                     <div class="text"><a href=""><img src="{IMG_PATH}Home/Index/master1.jpg"></a><p><a href="">高行健（1940－），法籍华裔剧作家、画家。2000年诺贝尔文学奖，并因此成为首位获得该奖的华语作家。</a></p></div>
                 </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
<!--资讯结束-->
    <div class="onsale border mt30">
        <div class="box-title">
            <h2>资讯</h2>         
        </div>
        <div class="bankFocus mt30 fl">
            <div class="hd"><ul><li></li><li></li><li></li></ul></div>
            <div class="bd">
                <ul>
                    <li>
                        <div class="img"><a href=""><img src="{IMG_PATH}Home/Index/finance1.jpg"></a></div>
                        <div class="text">
                            <h2><a href="">1尼泊尔唐卡绿度母</a></h2>
                            <p>投资当日计息 百元起购 零手续费</p>
                            <h3>年利率化<br><b>6.5%</b></h3>
                            <h3 class="width2">已筹资金<br><span><b>10000</b>元</span></h3>
                            <h3 class="width3">剩余时间<br><span><b>10</b>天</span></h3>
                            <div class="clear"></div>
                            <div class="progress">
                                <h5><span style="width:70%"></span></h5>
                                <p>众筹中</p>
                            </div><div class="clear"></div>
                            <div class="link mt30"><a href="">立即投标</a></div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="img"><a href=""><img src="{IMG_PATH}Home/Index/finance1.jpg"></a></div>
                        <div class="text">
                            <h2><a href="">2尼泊尔唐卡绿度母</a></h2>
                            <p>投资当日计息 百元起购 零手续费</p>
                            <h3>年利率化<br><b>6.5%</b></h3>
                            <h3 class="width2">已筹资金<br><span><b>10000</b>元</span></h3>
                            <h3 class="width3">剩余时间<br><span><b>10</b>天</span></h3>
                            <div class="clear"></div>
                            <div class="progress">
                                <h5><span style="width:70%"></span></h5>
                                <p>众筹中</p>
                            </div><div class="clear"></div>
                            <div class="link mt30"><a href="">立即投标</a></div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="img"><a href=""><img src="{IMG_PATH}Home/Index/finance1.jpg"></a></div>
                        <div class="text">
                            <h2><a href="">3尼泊尔唐卡绿度母</a></h2>
                            <p>投资当日计息 百元起购 零手续费</p>
                            <h3>年利率化<br><b>6.5%</b></h3>
                            <h3 class="width2">已筹资金<br><span><b>10000</b>元</span></h3>
                            <h3 class="width3">剩余时间<br><span><b>10</b>天</span></h3>
                            <div class="clear"></div>
                            <div class="progress">
                                <h5><span style="width:70%"></span></h5>
                                <p>众筹中</p>
                            </div><div class="clear"></div>
                            <div class="link mt30"><a href="">立即投标</a></div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_bar bg1 fr border mt30">
            <h2>艺术网融资</h2>
            <p>丝绸之路文物展汇集大牌国宝 部分文物难再展出丝绸之路文物展汇集大牌国宝</p>
            <a href="">我要众筹</a>
        </div>
        <div class="clear"></div>
    </div>
    <!--/*寄售1*/-->
    <div class="onsale border mt30">
        <div class="box-title">
            <h2>资讯</h2>         
        </div>
        <div class="bankFocus mt30 fl">
            <div class="hd"><ul><li></li><li></li><li></li></ul></div>
            <div class="bd">
                <ul>
                    <li>
                        <div class="img"><a href=""><img src="{IMG_PATH}Home/Index/finance1.jpg"></a></div>
                        <div class="text">
                            <h2><a href="">1尼泊尔唐卡绿度母</a></h2>
                            <p>投资当日计息 百元起购 零手续费<br><br></p>
                            <p>重   量：5.6g</p>
                            <p>所在地：上海</p>
                            <p>尺   寸：78.4mm*42.6mm*12.3mm（长*宽*高）</p>
                            <p class="jiage">一口价：<span>2000.00</span>元</p>
                            <div class="link mt30"><a href="">立即投标</a></div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="img"><a href=""><img src="{IMG_PATH}Home/Index/finance1.jpg"></a></div>
                        <div class="text">
                            <h2><a href="">1尼泊尔唐卡绿度母</a></h2>
                            <p>投资当日计息 百元起购 零手续费<br><br></p>
                            <p>重   量：5.6g</p>
                            <p>所在地：上海</p>
                            <p>尺   寸：78.4mm*42.6mm*12.3mm（长*宽*高）</p>
                            <p class="jiage">一口价：<span>2000.00</span>元</p>
                            <div class="link mt30"><a href="">立即投标</a></div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="img"><a href=""><img src="{IMG_PATH}Home/Index/finance1.jpg"></a></div>
                        <div class="text">
                            <h2><a href="">1尼泊尔唐卡绿度母</a></h2>
                            <p>投资当日计息 百元起购 零手续费<br><br></p>
                            <p>重   量：5.6g</p>
                            <p>所在地：上海</p>
                            <p>尺   寸：78.4mm*42.6mm*12.3mm（长*宽*高）</p>
                            <p class="jiage">一口价：<span>2000.00</span>元</p>
                            <div class="link mt30"><a href="">立即投标</a></div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_bar bg2 fr border mt30">
            <h2>艺术网融资</h2>
            <p>丝绸之路文物展汇集大牌国宝 部分文物难再展出丝绸之路文物展汇集大牌国宝</p>
            <a href="">我要众筹</a>
        </div>
        <div class="clear"></div>
    </div>
    <!--细分部分-->
    <div class="content">
        <div class="box1 border mt30 fl">
            <div class="tab-title">
               <div> 
                 <span class="selected">已鉴定</span>            
                 <span style="border-left:1px solid #e7e7e7">未鉴定</span>                 
               </div>
                 <h2>鉴定</h2>
            </div>
            <div class="tab-content">                 
                 <div class="checkup">
                     <ul>
                         <li><a href=""><img class="img1" src="{IMG_PATH}Home/Index/checkup1.jpg"></a><h4><a href="">已鉴定把几种石头当翡翠</a></h4><h5>石榴石最容易与翡翠混淆。用肉眼来看</h5><div class="clear"></div></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                     </ul>
                 </div>                 
                 <div class="checkup hide">
                     <ul>
                         <li><a href=""><img class="img1" src="{IMG_PATH}Home/Index/checkup1.jpg"></a><h4><a href="">未鉴定把几种石头当翡翠</a></h4><h5>石榴石最容易与翡翠混淆。用肉眼来看</h5><div class="clear"></div></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="box1 border mt30 fl ml20">
            <div class="tab-title"> 
                 <h2>拍卖资讯</h2>
            </div>                
                 <div class="checkup">
                     <ul class="information2">
                         <li><h4><a href="">中国家具专题推出秋拍“嘉木良才”</a><br><span>“嘉木良材”中国家具专题延续传是拍卖...</span></h4></li>
                         <li><h4><a href="">中国家具专题推出秋拍“嘉木良才”</a><br><span>“嘉木良材”中国家具专题延续传是拍卖...</span></h4></li>
                         <li><h4><a href="">中国家具专题推出秋拍“嘉木良才”</a><br><span>“嘉木良材”中国家具专题延续传是拍卖...</span></h4></li>
                         <li><h4><a href="">中国家具专题推出秋拍“嘉木良才”</a><br><span>“嘉木良材”中国家具专题延续传是拍卖...</span></h4></li>
                         <li><h4><a href="">中国家具专题推出秋拍“嘉木良才”</a><br><span>“嘉木良材”中国家具专题延续传是拍卖...</span></h4></li>
                     </ul>
                 </div>                      
        </div>
        <div class="box1 border mt30 fl ml20">
            <div class="tab-title"> 
                 <h2>展讯</h2>
            </div>                
                 <div class="checkup">
                     <ul class="spreadtrum">
                         <li><a href=""><img class="img2" src="{IMG_PATH}Home/Index/spreadtrum1.jpg"></a><h4><a href="">墨雅堂</a></h4><h5>雅墨堂坚持以弘扬民族文化、繁荣艺术市场、推介艺术名家，展示艺术精品 </h5><div class="clear"></div></li>
                         <li><a href=""><img class="img2" src="{IMG_PATH}Home/Index/spreadtrum1.jpg"></a><h4><a href="">墨雅堂</a></h4><h5>雅墨堂坚持以弘扬民族文化、繁荣艺术市场、推介艺术名家，展示艺术精品 </h5><div class="clear"></div></li>
                         <li><a href=""><img class="img2" src="{IMG_PATH}Home/Index/spreadtrum1.jpg"></a><h4><a href="">墨雅堂</a></h4><h5>雅墨堂坚持以弘扬民族文化、繁荣艺术市场、推介艺术名家，展示艺术精品 </h5><div class="clear"></div></li>
                     </ul>
                 </div>                      
        </div>
        <div class="box3 border mt30 fl ml20">
            <div class="tab-title"> 
                 <div>
                     <span class="selected" style="border:0">油画</span>            
                     <span>国画</span>
                     <span><a href="">更多</a></span>               
                 </div>
                 <h2>大师</h2>
            </div>
            <div class="tab-content">                 
                 <div class="checkup">
                     <ul>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">111</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                     </ul>
                 </div>                 
                 <div class="checkup hide">
                     <ul>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">222</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/great1.jpg"></a></div><p><a href="">避免买</a></p></li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="box5 border mt30 fl">
            <div class="tab-title"> 
                 <div>
                     <span class="selected" style="border:0">陶瓷</span>            
                     <span>玉器</span>
                     <span><a href="">更多</a></span>               
                 </div>
                 <h2>收藏知识</h2>
            </div>
            <div class="tab-content">                 
                 <div class="checkup">
                     <h5><a href="">1浅谈紫玉髓——海洋玉髓简介</a></h5>
                     <div class="text">
                         <A href=""><img src="{IMG_PATH}Home/Index/knowledge1.jpg"></A>
                         <p>海洋玉髓是近几年来新发现的玉髓......</p>
                         <div class="clear"></div>
                     </div>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                 </div>                 
                 <div class="checkup hide">
                     <h5><a href="">2浅谈紫玉髓——海洋玉髓简介</a></h5>
                     <div class="text">
                         <A href=""><img src="{IMG_PATH}Home/Index/knowledge1.jpg"></A>
                         <p>海洋玉髓是近几年来新发现的玉髓......</p>
                         <div class="clear"></div>
                     </div>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                     <p><a href="">玉髓行业的营销模式的革新</a></p>
                 </div>
            </div>
        </div>
        <div class="box4 border mt30 fl ml20">
            <div class="tab-title"> 
                 <div>
                     <span class="selected" style="border:0">陶瓷</span>            
                     <span>钱币</span>
                     <span><a href="">更多</a></span>               
                 </div>
                 <h2>古玩城</h2>
            </div>
            <div class="tab-content">                 
                 <div class="checkup">
                     <ul>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">1 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                     </ul>
                 </div>                 
                 <div class="checkup hide">
                     <ul>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">2 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                         <li><div class="img"><a href=""><img src="{IMG_PATH}Home/Index/goods1.jpg"></a></div><p><a href="">清 释迦摩尼佛像</a></p></li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="box2 border mt30 fl ml20">
            <div class="tab-title">
                <div> 
                 <span class="selected">已解决</span>            
                 <span style="border-left:1px solid #e7e7e7">未解决</span> 
                </div>                
                 <h2>艺术问答</h2>
            </div>
            <div class="tab-content">                 
                 <div class="checkup">
                     <ul>
                         <li><p><a href="">1陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                     </ul>
                 </div>                 
                 <div class="checkup hide">
                     <ul>
                         <li><p><a href="">2陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                         <li><p><a href="">陶瓷 | 收藏者如何避免买到钟和赝品</a></p></li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="box2 border mt30 fl ml20">
            <div class="tab-title">                  
                 <h2>艺术百科</h2>
            </div>              
                 <div class="checkup">
                     <h5><a href="">艺术家</a><a class="red" href="">收藏家</a><a href="">评论家</a><a href="">鉴定家</a><a href="">其他</a><a href="">国内学院</a><a href="">国外学院</a><a href="">其他学院</a><a class="red" href="">美术馆</a><a href="">画廊馆</a><a href="">出版社</a><a href="">媒体</a><a class="red" href="">拍卖公司</a><a href="">艺术团体</a><a href="">其他器具</a><a class="red" href="">钱币</a><a href="">标本</a><a href="">商标</a><a href="">徽章</a><a href="">文献机构</a><a class="red" href="">书画</a><a class="red" href="">陶瓷</a><a href="">珠宝</a><a class="red" href="">博览会</a><a href="">群体展</a><a href="">研讨会</a><a href="">双年展</a></h5>
                 </div>                 
            </div>
        </div>
    </div><!--外框-->
</div>
<div class="clear"></div>
<div class="footer">
    <div class="w980">
         <div class="foot-switch">
             <div class="tab-title"> 
                 <span class="selected">友情链接</span>            
                 <span>专家委员会</span>  
                 <span>艺术联盟</span>                
            </div>
            <div class="tab-content">                 
                 <div class="checkup">
                        <a href="http://www.yishu.com" target="_blank">中国艺术网</a>
                        <a href="http://shoucang.hexun.com/" target="_blank">和讯收藏</a>
                        <a href="http://www.wenwuchina.com/" target="_blank">中国文物网</a>
                        <a href="http://fashion.163.com/art" target="_blank">网易艺术</a>
                        <a href="http://arts.takungpao.com/" target="_blank">大公艺术</a>
                        <a href="http://www.icoin.cn" target="_blank">钱币收藏</a>
                        <a href="http://art.ce.cn" target="_blank">中经收藏</a>
                        <a href="http://www.51kids.com" target="_blank">中国童装网</a>
                        <a href="http://www.ssswh.com" target="_blank">寿山石文化网</a>
                        <a href="http://www.taohuren.com" target="_blank">淘壶人</a>
                        <a href="http://www.gfcang.com" target="_blank">钱币收藏</a>
                        <a href="http://www.tianxia70.com" target="_blank">天下奇石网</a>
                        <a href="http://www.xincangge.com" target="_blank">鑫藏阁收藏网</a>
                        <a href="http://www.chinajade.cn" target="_blank">和田玉</a>
                        <a href="http://www.sumiao.net" target="_blank">素描网</a>
                        <a href="http://www.zisha8.net/" target="_blank">紫砂壶开壶</a>
                        <a href="http://www.chinadance.cn" target="_blank">中国舞蹈网</a>
                        <a href="http://www.sumiaowang.com" target="_blank">素描</a>
                        <a href="http://www.e1988.com/" target="_blank">邮票</a>
                        <a href="http://www.ybk168.com" target="_blank">中国邮票网</a>
                        <a href="http://www.51pot.com/" target="_blank">紫砂壶</a>
                        <a href="http://www.lomge.com/" target="_blank">沉香手串 </a>
                        <a href="http://www.taoyunet.com" target="_blank">玉器批发网</a>
                        <a href="http://www.artddu.com/" target="_blank">顶点艺术网</a>
                        <a href="http://www.shfff.com/" target="_blank">中国名人字画销售</a>
                        <a href="http://www.sznh.net/" target="_blank">南红玛瑙价格</a>
                        <a href="http://www.365art.com/" target="_blank">艺宴收藏网</a>
                        <a href="http://www.52youpiao.com" target="_blank">邮票价格查询</a>
                        <a href="http://www.laodao.cc " target="_blank">B2B</a>
                        <a href="http://www.0898cx.com/" target="_blank">中国沉香网</a>
                        <a href="http://www.ccartd.com" target="_blank">阿特网</a>
                        <a href="http://www.zgqsc.com" target="_blank">奇石交易网</a>
                        <a href="http://www.yushi6.com" target="_blank">中国玉石网</a>
                        <a href="http://www.sartfair.com/2014/cweb/index.asp" target="_blank">上海艺术博览会</a>
                        <a href="http://www.169369.com/" target="_blank">世界名画赏析</a>
                        <a href="http://www.dongsheng2010.com" target="_blank">砭石的价格</a>
                        <a href="http://www.coinabc.com" target="_blank">邮市行情 </a>
                        <a href="http://www.yishu.com/sc/hp/" target="_blank">琥珀吧</a>
                        <a href="http://www.ahage.net" target="_blank">安徽文化网</a>
                        <a href="http://www.zgqw.com" target="_blank">中国钱网</a>
                        <a href="http://www.hetaoquan.com" target="_blank">文玩核桃</a>
                        <a href="http://www.aitaocui.cn/" target="_blank">翡翠a货</a>
                        <a href="http://www.169369.com" target="_blank">艺术网</a>
                        <a href="http://www.yuyuan.cc" target="_blank">玉缘阁和田玉</a>
                        <a href="http://www.jades.cn" target="_blank">中华玉网</a>
                        <a href="http://www.artsb2c.cn" target="_blank">油画</a>
                        <a href="http://www.aobaocn.com" target="_blank">珠宝设计</a>
                        <a href="http://www.daciwang.com" target="_blank">大瓷网</a>
                        <a href="http://www.21nowart.com" target="_blank">中国在线艺术网</a>
                        <a href="http://www.zhengxxg.cn" target="_blank">正信艺术网</a>
                        <a href="http://www.yhzxpm.cn" target="_blank">永和在线</a>
                        <a href="http://www.zbsjlt.com" target="_blank">中国珠宝设计网</a>
                        <a href="http://www.pphmw.com " target="_blank">红木家具十大品牌</a>
                        <a href="http://www.gucn.com" target="_blank">中华古玩网</a>
                        <a href="http://www.yishu.com/sc/xiao_lp/" target="_blank">蓝珀</a>
                        <a href="http://www.feicuiwuyu.com" target="_blank">翡翠</a>
                        <a href="http://news.bloves.com" target="_blank">钻石资讯</a>
                        <a href="http://www.zhaozi.cn" target="_blank">找字网</a>
                        <a href="http://www.fojiaoyongpin.com" target="_blank">佛教用品</a>
                        <a href="http://www.zisha360.com" target="_blank">紫砂壶</a>
                        <a href="http://www.1zihua.com/" target="_blank">山水画</a>
                        <a href="http://www.mobao.com/" target="_blank">墨宝网</a>
                        <a href="http://www.yishu.com/sc/bcys/" target="_blank">冰彩玉髓</a>
                        <a href="http://www.soocang.com" target="_blank">搜藏网</a>
                        <a href="http://www.yofond.com" target="_blank">优坊网</a>
                        <a href="http://www.cnmeiw.com" target="_blank">中国美网</a>
                        <a href="http://www.yishu.com/sc/xiao_nhmn/" target="_blank">南红玛瑙</a>
                        <a href="http://www.yishu.com" target="_blank">艺术网</a>
                        <a href="http://www.yishu.com/sc/ysone/" target="_blank">玉髓是什么</a>
                        <a href="http://www.yishu.com/sc/xiao_mljb/" target="_blank">蜜蜡鉴别</a>
                        <a href="http://www.1wwtx.com" target="_blank">文玩</a>
                        <a href="http://www.yishu.com/sc/fc/" target="_blank">翡翠</a>
                        <a href="http://www.art456.com" target="_blank">美术高考网</a>
                        <a href="http://www.bjlmfq.com" target="_blank">婚纱摄影</a>
                        <a href="http://www.shufa001.com/" target="_blank">书法第一网</a>
                        <a href="http://omega.wbiao.cn" target="_blank">欧米茄</a>
                        <a href="http://www.meishuwang.net/" target="_blank">中国美术网</a>
                        <a href="http://shuhua.cang.com" target="_blank">华夏书画城</a>
                        <a href="http://www.yishu.com/sc/qts/" target="_blank">青田石价格</a>
                        <a href="http://www.juhutang.com " target="_blank">紫砂壶</a>
                        <a class="blue" href="http://service.yishu.com/links/" target="_blank">更多>></a>
                 </div>                 
                 <div class="marster hide">
                     <ul>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                         <li><a href=""><img src="{IMG_PATH}Home/Index/5zjd.jpg"></a><p><a href="">和赝品</a></p></li>
                     </ul>
                 </div>
                 <div class="checkup hide">
                        <a href="javascript:;" target="_blank">湖北省艺术品联盟</a>
                        <a href="http://www.yishu.com/sc/manaoyuanshi/" target="_blank">玛瑙原石</a>
                        <a href="http://www.yishu.com/sc/hty/" target="_blank">和田玉</a>
                        <a href="http://www.yishu.com/sc/xiao_lp/" target="_blank">蓝珀</a>
                        <a href="http://www.yishu.com/sc/xiao_scmn/" target="_blank">水草玛瑙</a>
                        <a href="http://www.yishu.com/sc/manao/" target="_blank">玛瑙</a>
                 </div>
            </div>
         </div>
         <div class="clear"></div>
         
         <div class="foot_link">
             <p>
                <a href="/aboutus/" rel="nofollow" target="_blank">关于我们</a>
                |
                <a href="/contactus/" rel="nofollow" target="_blank">联系我们</a>
                |
                <a href="/copyright/" rel="nofollow" target="_blank">版权声明</a>
                |
                <a href="/hr/" rel="nofollow" target="_blank">人才招聘</a>
                |
                <a href="/advertising/" rel="nofollow" target="_blank">广告业务</a>
                |
                <a href="/disclaimer/" rel="nofollow" target="_blank">免责声明</a>
                |
                <a href="/protection/" rel="nofollow" target="_blank">隐私政策</a>
                |
                <a href="/links/" target="_blank">友情链接</a>
                |
                <a href="/complaints/" target="_blank">客户投诉</a>
                |
                <a href="/help/" target="_blank">帮助中心</a>
                |
                <a href="/sitemap/" target="_blank">网站地图</a>
                |
                <a href="/aboutchannel/" target="_blank">频道简介</a>
             </p>
         </div>
         
         <div class="foot_bottom">
              <a href=""><img src="{IMG_PATH}Home/Index/foot_01.jpg"></a>
              <p>中国艺术网(www.yishu.com) 版权所有<br>Copyright Reserved 2000-2014<br>电信与信息服务业务经营许可证 沪ICP备14002523号<br>未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。</p>
         </div>
         
    </div>
</div>
</body>
<!--制作：王方圆2014/12/23-->
</html>
