<extend name="Admin@Public:base" />

<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
</block>

<!--主体内容 开始-->
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul><li class="selected"><a href="{:U('Mall/Goods/index')}">商品列表</a></li></ul>

        <!--搜索 开始-->
        <div class="advSearch">
            <form method="post" action="{:U(index)}">
                <div class="row">
                    <label>关键字：</label>
                    <input type="text" size="8" name="kw" placeholder="请输入关键字" style="padding:2px 5px" value="{$kw}" />
                    {:searchSelect(array('goods_name' => '商品名称','keywords' => '商品关键字'), $type)}
                </div>
                <div class="row">
                    <label>时间：</label>
                    <input style="padding:2px 5px" value="{$start_time}" type="text" size="6" placeholder="起始时间" name='start_time' id="starttime"  onfocus="WdatePicker({onpicked:function(){$('#endtime').focus();}})"/> -
                    <input style="padding:2px 5px" value="{$end_time}" type="text" size="6" placeholder="结束时间" name='end_time' id="endtime" onfocus="WdatePicker({minDate:$('#starttime').val()})" />
                </div>
                <button type="submit" class="btn fa fa-search"> 搜 索</button>
            </form>
        </div>
        <!--搜索 结束-->

    </div>
    <!--导航部分 结束-->

    <form action="{:U('listorder')}" method="post">
        <!-- 数据表格 开始-->
        <?php
        $thead = array(
        'goods_id' => '编号',
        'goods_name' => '商品名称',
        'keywords' => '关键字',
        'store_id' => '店铺',
        'store_id' => array(
        '_title' => '所属店铺',
        'func' => 'mallStoreInfo($store_id, "store_name")',
        ),
        'create_time' => array(
        '_title' => '添加时间',
        'tag' => 'span',
        'func' => 'date("Y-m-d H:i:s", $create_time)',
        ),
        '是否推荐'=>array(
        ' 正常'=>array('class' =>'success','condition'=>'$recommend==0'),
        ' 推荐'=>array('class' =>'red','condition'=>'$recommend==1'),
        ),
        '状态'=>array(
            ' 未审'=>array('class' =>'red fa fa-times','condition'=>'$status==0'),
            ' 已审'=>array('class' =>'success fa fa-check-circle','condition'=>'$status==1'),
            ' 锁定'=>array('class' =>'red fa fa-lock','condition'=>'$status==2'),
        ),
        '操作'=>array(
            ' 详情'=>array('href' => 'Mall/Goods/detail?goods_id=$goods_id', 'class'=>'showGoods fa fa-edit'),
            ' 设为审核'=>array('href' => 'Mall/Goods/editstatus?goods_id=$goods_id&status=1','class' =>'ajax-get success fa fa-check-circle'),
            ' 设为锁定'=>array('href' => 'Mall/Goods/editstatus?goods_id=$goods_id&status=2','class' =>'ajax-get red fa fa-lock'),
            ' 设为推荐'=>array('href' => 'Mall/Goods/editrecom?goods_id=$goods_id&recom=1','class' =>'ajax-get red fa fa-thumbs-up'),
            ' 设为正常'=>array('href' => 'Mall/Goods/editrecom?goods_id=$goods_id&recom=0','class' =>'ajax-get success fa fa-flag-o'),
        ),
        );
        echo $_table_list = $__controller__->tableList($_list, $thead);
        ?>
        <!-- 数据表格 结束-->
        <div class="paging">
            {$_page}
        </div>
    </form>
</block>
<!--主体内容 结束-->

<block name="javascript">
    <script type="text/javascript">
        $(function() {
            $(".showGoods").on('click',function(e){
                e.preventDefault();
                $.dialog.open(this.href, {title:'商品详情', id:'showGoods'} );
            });
        });
    </script>
    <load file="__PUBLIC__/plugin/DatePicker/WdatePicker.js" />
</block>