<extend name="Admin@Public:base" />

<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
</block>

<!--主体内容 开始-->
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul><li class="selected"><a href="{:U('Mall/Article/index')}">文章列表</a></li></ul>

        <!--快捷按钮 开始-->
        <div class="nav_btn">
            <a class="fa fa-plus-square" href="javascript:$.dialog.open('{:U('Mall/Article/add')}', {title:'添加文章', id:'adoArticle'})"> 添加文章</a>
            <a class="fa fa-plus-square" href="{:U('Mall/ArticleCategory/index')}"> 分类管理</a>
        </div>
        <!--快捷按钮 结束-->

        <!--搜索 开始-->
        <div class="advSearch">
            <form method="post" action="{:U(index)}">
                <div class="row">
                    <label>关键字：</label>
                    <input type="text" size="8" name="kw" placeholder="请输入关键字" style="padding:2px 5px" value="{$kw}" />
                    {:searchSelect(array('title' => '文章标题', 'content' => '文章内容'), $type)}
                </div>
                <div class="row">
                    <label>时间：</label>
                    <input style="padding:2px 5px" value="{$start_time}" type="text" size="6" placeholder="起始时间" name='start_time' id="starttime"  onfocus="WdatePicker({onpicked:function(){$('#endtime').focus();}})"/> -
                    <input style="padding:2px 5px" value="{$end_time}" type="text" size="6" placeholder="结束时间" name='end_time' id="endtime" onfocus="WdatePicker({minDate:$('#starttime').val()})" />
                </div>
                <button type="submit" class="btn fa fa-search"> 搜 索</button>
            </form>
        </div>
        <!--搜索 结束-->

    </div>
    <!--导航部分 结束-->

    <form action="{:U('listorder')}" method="post" class="articlelistorder">
    <!-- 数据表格 开始-->
    <?php
        $thead = array(
            '_html' => array(
                '_th' => 'row-selected',
                'th' => '排序',
                'td' => '<input type="text" name="listorder[$article_id]" value="$listorder" style="width:20px;height:18px;padding:0 4px">',
            ),
            'article_id' => '编号',
            'title' => '文章标题',
            'cate_id' => array(
                '_title' => '所属类别',
                'func' => 'getCateName($cate_id, "ArticleCategory")',
            ),
            'store_id' => array(
                '_title' => '文章来源',
                'func' => 'getStoreName($store_id)',
            ),
            'create_time' => array(
                '_title' => '添加时间',
                'tag' => 'span',
                'func' => 'date("Y-m-d H:i:s", $create_time)',
            ),
            '操作'=>array(
                ' 修改文章'=>array('href' => 'Mall/Article/edit?article_id=$article_id', 'class'=>'editArticle fa fa-edit'),
                ' 删除文章'=>array('href' => 'Mall/Article/delete?article_id=$article_id', 'class'=>'ajax-get fa fa-trash-o red'),
            ),
        );
        echo $_table_list = $__controller__->tableList($_list, $thead);
    ?>
    <!-- 数据表格 结束-->
    <div class="paging">
        <button type="submit" class="btn fa fa-list ajax-post" target-form="articlelistorder"> 排 序</button>
        {$_page}
    </div>
    </form>
</block>
<!--主体内容 结束-->

<block name="javascript">
<script type="text/javascript">
$(function() {
    $(".editArticle").on('click',function(e){
        e.preventDefault();
        $.dialog.open(this.href, {title:'修改文章', id:'adoArticle'} );
    });
});
</script>
<load file="__PUBLIC__/plugin/DatePicker/WdatePicker.js" />
</block>