<extend name="Admin@Public:base" />
<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
    <link href="{CSS_PATH}Paimai/comm.css" rel="stylesheet" type="text/css" />
    <load file="{PLUGIN_PATH}uploadify/jquery.uploadify.min.js" />
</block>
<block name="body">

    <form method="post" enctype="multipart/form-data" action="{:U('Paimai/AdminSeller/insert')}" style="width: 700px;height: 300px; margin: auto;">
    <table class="m_table">
        <tr>
            <td width="120">商家名字:</td>
            <td>
                <input type="text" name="seller_name">
            </td>
        </tr>
		<tr>
            <td width="120">商家简称:</td>
            <td>
                <input type="text" name="seller_brief">
            </td>
        </tr>
		<tr>
            <td width="150">商家联系人:</td>
            <td>
                <input type="text" name="seller_person">
            </td>
        </tr>
		<tr>
            <td width="150">商家QQ号码:</td>
            <td>
                <input type="text" name="seller_qq">
            </td>
        </tr>
		<tr>
            <td width="120">商家座机:</td>
            <td>
                <input type="text" name="seller_mobile">
            </td>
        </tr>
        <tr>
            <td width="120">商家手机(联系人手机):</td>
            <td>
                <input type="text" name="seller_phone">
            </td>
        </tr>
		<tr>
            <td width="120">商家地址:</td>
            <td>
                <input type="text" name="seller_address">
            </td>
        </tr>
		<tr>
            <td width="120">商家网址:</td>
            <td>
                <input type="text" name="seller_net">
            </td>
        </tr>
        <tr>
            <td width="120">是否显示:</td>
            <td>
                <input type="radio" checked="checked" name="seller_isshow" value="0"/>&nbsp;是&nbsp;
                <input type="radio" name="seller_isshow" value="1"/>&nbsp;否&nbsp;
            </td>
        </tr>
        <tr>
            <td width="120">商家描述:</td>
            <td>
                <textarea name="seller_desc"></textarea>
                {:hook('adminEditor',array('name'=>'seller_desc'))}
            </td>
        </tr>
        <tr><td colspan="2" align="center"><input class="m_submit" type="submit" value="添加"></td></tr>
    </table>
    </form>
</block>
