<extend name="Public:base"/>
<!--主体内容 开始-->
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul>
            <li class="selected"><a href="{:U('Admin/Member/index')}">会员列表</a></li>
        </ul>

        <!--快捷按钮 开始-->
        <div class="nav_btn">
            <a href="javascript:$.dialog.open('{:U('add')}',{title:'添加管理员',id:'authadd'});" class="fa fa-plus-square"> 添 加</a>
        </div>
        <!--快捷按钮 结束-->

        <!--搜索 开始-->
        <div class="advSearch">
            <form>
                <div class="row">
                    <label>更新时间：</label>
                    <input type="text" size="8" placeholder="起始时间" /> -
                    <input type="text" size="8"  placeholder="结束时间" />
                </div>
                <div class="row">
                    <label>创建者：</label>
                    <input type="text" size="12" placeholder="请输入用户名">
                </div>
                <button class="btn">查 询</button>
            </form>
        </div>
        <!--搜索 结束-->
    </div>
    <!--导航部分 结束-->

    <!-- 数据表格 -->
    <div class="table">
        <?php
        $thead = array(
            '_html'=>array(
                '_th'=>'row-selected',
                'th'=>'<input class="check-all" type="checkbox"/>',
                'td'=>'<input class="ids" type="checkbox" name="uid[]" value="$uid" />',
            ),
            'uid'=>'UID',
            'username'=>'用户名',
            'nickname'=>'昵称',
            'birthday'=>array(
                '_title'=>'生日',
                'tag'   =>'span',
                'func'	=>	'date("Y-m-d",$birthday)',
            ),
            'login'=>'登录次数',
            'last_login_ip'=>array(
                '_title'=>'最后登陆IP',
                'tag'   =>'span',
                'func'  => 'long2ip($last_login_ip)',
            ),
            'last_login_time'=>array(
                '_title'=>'最后登录时间',
                'tag'   =>'span',
                'func'  => 'date("Y-m-d H:i",$last_login_time)',
            ),
            '状态'=>array(
                '锁定'=>array('href' => 'enabled?uid=$uid', 'class'=>'ajax-get error fa fa-ban', 'condition'=>'$status==0',),
                '正常'=>array('href' => 'disable?uid=$uid', 'class'=>'ajax-get success fa fa-check-circle', 'condition'=>'$status==1',),
            ),
            '操作'=>array(
                '修改'=>array('href' => 'edit?uid=$uid', 'class'=>'edit fa fa-edit',),
            ),
        );
        echo $_table_list = $__controller__->tableList($_list,$thead);
        ?>
    </div>
    <div class="page">
        {$_page}
    </div>
    </div>
</block>
<!--主体内容 结束-->
<block name="javascript">
    <script type="text/javascript">
        $(function(){
            $('.edit').on('click',function(e){
                e.preventDefault();
                $.dialog.open(this.href,{title:'修改会员信息',id:'editMember'});
            })
        });
    </script>
</block>