<extend name="Admin@Public:base" />
<block name="style">
    <style type="text/css">
        /* 头像 */
        #form_right{ position: absolute; top:55px; left: 360px;}
    </style>
</block>
<!--主体内容 开始-->
<block name="body">
    <load file="{PLUGIN_PATH}uploadify/jquery.uploadify.min.js" />
    <!-- 数据表格 开始-->
    <form action="{:U('Artist/Works/edit')}" method="post" class="addCategory">
        <table class="form">
            <input type="hidden" name="id"  value="{$vo.id}" />
            <tr>
                <th width="150px"><i class="red">* </i>类别:</th>
                <td>
                    {:getArtistCategory(true,'cid', $vo['cid'])}
                </td>
            </tr>
            <tr>
                <th><i class="red">* </i>艺术家姓名:</th>
                <td>
                    <input type="text" name="artistName" value="{:getArtistName($vo['aid'])}" id="_artist_name" readonly="readonly" required="required" maxLength="10" />
                    {:R('Library/names',array('_artist_name', $vo['aid']))}
                </td>
            </tr>
            <tr>
                <th><i class="red">* </i>作品名称:</th>
                <td><input type="text" name="name" value="{$vo.name}" required="required" maxLength="100" /></td>
            </tr>

            <tr>
                <th><i class="red">* </i>材质:</th>
                <td><input type="text" name="material" value="{$vo.material}" maxLength="100" /></td>
            </tr>
            <tr>
                <th>尺寸:</th>
                <td><input type="text" name="size" value="{$vo.size}" required="required" maxLength="100" /></td>
            </tr>
            <tr>
                <th>创作年代</th>
                <td><input type="number" name="years" value="{$vo.years}" class="date" onfocus="WdatePicker({dateFmt:'yyyy'});" /></td>
            </tr>
            <tr>
                <th>获奖名称:</th>
                <td>
                    <input type="text" name="awardName" value="{:getAwardName($vo['award'])}" id="_award_name" readonly="readonly" />
                    {:R('Award/awards',array('_award_name', $vo['award']))}
                </td>
            </tr>
            <tr>
                <th>作品组图:</th>
                <td>
                    {:hook('upload',array('model'=>'library','type'=>'image','height'=>30,'uploadify'=>'swf','recordid'=>$vo['recordid']))}
                </td>
            </tr>
            <tr>
                <th><i class="red">* </i>作品简介:</th>
                <td>
                    <textarea name="description" required="required" cols="80" rows="3">{$vo.description}</textarea>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn" target-form="addCategory">确认</button>
                    <button type="reset" class="btn btn_gary">重填</button>
                </td>
            </tr>
            <div id="form_right">
                {:hook('upload',array('model'=>'works','type'=>'thumb','height'=>200,'uploadify'=>'swfone','recordid'=>$vo['recordid']))}
            </div>
    </form>
    <!-- 数据表格 结束-->
</block>
<!--主体内容 结束-->