<extend name="Admin@Public:base" />
<block name="style">
    <load file="{PLUGIN_PATH}DatePicker/WdatePicker.js" />
    <load file="{JS_PATH}bulkActionJs.js" />
</block>
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul></ul>
        <!--快捷按钮 开始-->
        <div class="nav_btn">
            <a href="javascript:$.dialog.open('{:U(\'Artist/Works/add\')}',{title:'添加作品',lock:true,width:'100%',height:'100%'})" class="fa fa-plus-square">&nbsp;&nbsp;添 加</a>
        </div>
        <!--快捷按钮 结束-->

        <!--搜索 开始-->
        <div class="advSearch">
            <form name="doc_search_min" action="{:U('Artist/Works/index')}" method="post">
                <div class="row">
                    <label>作品名称：</label>
                    <input type="text" size="8" name="name" <if condition="isset($name)">value="{$name}"</if> placeholder="请输入作品名称">
                </div>
                <button class="btn fa fa-search"> 搜 索</button>
                <button class="btn fa fa-search-plus" onclick="javascript:$.dialog.open('{:U(\'Artist/Works/search\')}',{title:' 作品检索','lock':true});return false;"> 高级搜索</button>
            </form>
        </div>
        <!--搜索 结束-->
    </div>
    <!--导航部分 结束-->

    <!-- 数据表格 -->
    <div class="table">
        <?php
        $thead = array(
            '_html'=>array(
        '_th'=>'row-selected',
        'th'=>'<input class="check-all" type="checkbox"/>',
        'td'=>'<input class="ids" type="checkbox" name="ids[]" value="$id" />',
        ),
        'name'=> array(
            '_title' => '作品名称',
            'tag' => 'a',
            'href' => '#',
            'target' => '_blank',
            'class' => 'success',
        ),
        'cid' => array(
            '_title' => '类别',
            'func' => 'getArtistCategoryName($cid)',
        ),
        'aid' => array(
            '_title' => '作者',
            'func' => 'getArtistName($aid)',
        ),
        'status'=> array(
            '_title' => '状态',
            'func' => 'getArtistStatus($status)',
        ),
        'createtime'=> array(
            '_title' => '添加时间',
            'func' => 'date(\'Y-m-d\', $createtime)',
        ),
        '操作'=> array(
        ' 删除'=>array( 'href' => 'Artist/Works/delete?id=$id','class'=>'confirm ajax-get red fa fa-trash-o'),
        ' 编辑'=>array( 'href' => 'Artist/Works/edit?id=$id', 'class'=>'editArtist fa fa-unlock'),
        ' 锁定'=>array( 'href' => 'Artist/Works/updateStatus?id=$id&status=0', 'class'=>'ajax-get error fa fa-lock', 'condition'=>'$status==1',),
        ' 解锁'=>array( 'href' => 'Artist/Works/updateStatus?id=$id&status=1', 'class'=>'ajax-get success fa fa-unlock', 'condition'=>'$status==0',),
        ),
        );
        echo $_table_list = $__controller__->tableList($_list,$thead);
        ?>
    </div>

    <div class="paging"  style="float: left;margin-top: 5px;">
        <div class="page">
            <a href="javascript:bulkUpdate('{:U(\'Artist/Works/updateStatus\')}','status',0);" class="fa fa-lock"> 锁 定</a>
            <a href="javascript:bulkUpdate('{:U(\'Artist/Works/updateStatus\')}','status',1);" class="fa fa-unlock"> 解 锁</a>
            <a href="javascript:bulkDelete('{:U(\'Artist/Works/delete\')}');" id="delselected" class="confirm fa fa-trash-o"> 删 除</a>
        </div>
    </div>

    <div class="paging">
        {$_page}
    </div>

    <block name="javascript">
        <script type="text/javascript">
            $(function() {
                $(".editArtist").on('click',function(e){
                    e.preventDefault();
                    $.dialog.open(this.href, {title:'编辑作品',lock:true, width:'100%',height:'100%'});
                });
            });
        </script>
    </block>
</block>