<extend name="Admin@Public:base" />
<block name="style">
<style type="text/css">
    body{ width:650px}
</style>
</block>
<block name="body">
    <form action="{:U('Mall/ShoppingAddress/edit')}" method="post" class="editAddress">
        <table class="form">
            <tr>
                <th>详细地址:</th>
                <td><input name="address" type="text" value="{$vo.address}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>收货人:</th>
                <td><input name="consignee" type="text" value="{$vo.consignee}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>电话:</th>
                <td><input name="tel" type="text" value="{$vo.tel}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>手机:</th>
                <td><input name="mobile" type="text" value="{$vo.mobile}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>邮编:</th>
                <td><input name="postcode" type="text" value="{$vo.postcode}" /></td>
                <td class="tips"><i class="red">* 必填</i></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <input type="hidden" name="address_id" value="{$vo.address_id}" />
                    <button type="submit" class="btn ajax-post" target-form="editAddress">确认</button>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </form>
</block>