<extend name="Admin@Public:base" />

<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
</block>

<!--主体内容 开始-->
<block name="body">
    <!--导航部分 开始-->
    <div class="con_nav">
        <ul><li class="selected"><a href="{:U('Mall/ShoppingAddress/index')}">地址列表</a></li></ul>

        <!--搜索 开始-->
        <div class="advSearch">
            <form method="post" action="{:U(index)}">
                <div class="row">
                    <label>关键字：</label>
                    <input type="text" size="8" name="kw" placeholder="请输入关键字" style="padding:2px 5px" value="{$kw}" />
                    {:searchSelect(array('address' => '详细地址','consignee' => '收货人','tel' => '电话','mobile' => '手机'), $type)}
                </div>
                <button type="submit" class="btn fa fa-search"> 搜 索</button>
            </form>
        </div>
        <!--搜索 结束-->

    </div>
    <!--导航部分 结束-->

    <!-- 数据表格 开始-->
    <?php
    $thead = array(

        'address_id' => '编号',

        'uid' => array(
            '_title' => '用户',
            'tag' => 'span',
            'func' => 'getUserInfo($uid, "username")',
        ),
        'consignee' => '收货人',
        'address' => '详细地址',
        'tel' => '电话',
        'mobile' => '手机',
        'postcode' => '邮编',
        '操作'=>array(
            ' 修改地址'=>array('href' => 'Mall/ShoppingAddress/edit?address_id=$address_id', 'class'=>'editAddress fa fa-edit'),
            ' 删除地址'=>array('href' => 'Mall/ShoppingAddress/delete?address_id=$address_id', 'class'=>'ajax-get red fa fa-trash-o'),
        ),
    );
    echo $_table_list = $__controller__->tableList($_list, $thead);
    ?>
    <!-- 数据表格 结束-->
    <div class="paging">
        {$_page}
    </div>
</block>
<!--主体内容 结束-->

<block name="javascript">
    <script type="text/javascript">
        $(function() {
            $(".editAddress").on('click',function(e){
                e.preventDefault();
                $.dialog.open(this.href, {title:'修改地址',id:'doAddress'} );
            });
        });
    </script>
</block>