
<extend name="Public:base" />
<block name="title"><title>{$title}</title></block>

<block name="body">
    <body class="selling-panel auction-collect">
</block>
>
<block name="content">


<!-- <div class="breadcurmbs">
    <b>你当前的位置：</b><a href="#">拍卖频道</a> > <a href="#">拍卖机构</a> > 拍卖信息
</div> -->
<div class="main-page clear">
<div class="left-side">
<div class="slideshow">
    <div class="slide-img">
        <ul>
            <li>
                <a href="#"><img src="{IMG_PATH}slideshow/01.jpg" width="690" height="300" alt="" /></a>
            </li>
            <li>
                <a href="#"><img src="{IMG_PATH}slideshow/01.jpg" width="690" height="300" alt="" /></a>
            </li>
            <li>
                <a href="#"><img src="{IMG_PATH}slideshow/01.jpg" width="690" height="300" alt="" /></a>
            </li>
            <li>
                <a href="#"><img src="{IMG_PATH}slideshow/01.jpg" width="690" height="300" alt="" /></a>
            </li>
            <li>
                <a href="#"><img src="{IMG_PATH}slideshow/01.jpg" width="690" height="300" alt="" /></a>
            </li>
        </ul>
    </div>
</div>
<div class="hot-collect m-t20">
    <div class="comm-t clear">
        <h2>热门征集</h2>
    </div>
    <div class="content clear	">
        <ul>
            <li>
                <a class="img" href="#">
                    <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                </a>
                <div class="a-con">
                    <p class="name"><a href="#">辽宁建投拍卖公司</a></p>
                    <p class="date">截止:13/06/17</p>
                    <p class="during">征集范围：</p>
                    <p class="text">绘画  书法  金石篆刻  陶瓷  玉器  <a href="#">详情>></a></p>
                </div>
            </li>
            <li>
                <a class="img" href="#">
                    <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                </a>
                <div class="a-con">
                    <p class="name"><a href="#">辽宁建投拍卖公司</a></p>
                    <p class="date">截止:13/06/17</p>
                    <p class="during">征集范围：</p>
                    <p class="text">绘画  书法  金石篆刻  陶瓷  玉器  <a href="#">详情>></a></p>
                </div>
            </li>
            <li>
                <a class="img" href="#">
                    <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                </a>
                <div class="a-con">
                    <p class="name"><a href="#">辽宁建投拍卖公司</a></p>
                    <p class="date">截止:13/06/17</p>
                    <p class="during">征集范围：</p>
                    <p class="text">绘画  书法  金石篆刻  陶瓷  玉器  <a href="#">详情>></a></p>
                </div>
            </li>
            <li>
                <a class="img" href="#">
                    <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                </a>
                <div class="a-con">
                    <p class="name"><a href="#">辽宁建投拍卖公司</a></p>
                    <p class="date">截止:13/06/17</p>
                    <p class="during">征集范围：</p>
                    <p class="text">绘画  书法  金石篆刻  陶瓷  玉器  <a href="#">详情>></a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="collect-classify">
<div class="comm-t clear">
    <h2>分类征集</h2>
    <div class="nav">
        <ul class="column last-ele">
            <li class="select nav-1">全部</li>
            <li class="nav-2">陶瓷</li>
            <li class="nav-3">玉器</li>
            <li class="nav-4">书画</li>
            <li class="nav-5">铜器</li>
            <li class="nav-6">钱币</li>
            <li class="nav-7">杂项</li>
            <li class="nav-8">珠宝</li>
        </ul>
    </div>
</div>
<div class="tab-content">
<div class="content-1">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-2 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-3 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-4 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-5 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-6 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-7 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
<div class="content-8 hide">
    <ul>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
        <li>
            <div class="t clear">
                <p class="left">
                    <a href="#"><b>上海鼎福国际拍卖</b>2013年春季拍卖会拍品火爆征集</a>
                </p>
                <p class="right">截止日期：13/06/30</p>
            </div>
            <div class="b clear">
                <p class="left">征集范围：绘画  书法  金石篆刻  陶瓷  玉器  雕塑  金银铜器  工艺品  钱币  文献  </p>
                <p class="right"><a href="#">查看详情>></a></p>
            </div>
        </li>
    </ul>
</div>
</div>
</div>
<div class="new-opus">
    <div class="comm-t clear">
        <h2>最新作品</h2>
        <div class="nav">
            <ul class="column clear last-ele">
                <li class="nav-1 select">全部</li>
                <li class="nav-2">陶瓷</li>
                <li class="nav-3">玉器</li>
                <li class="nav-4">书画</li>
                <li class="nav-5">铜器</li>
                <li class="nav-6">钱币</li>
                <li class="nav-7">杂项</li>
                <li class="nav-8">珠宝</li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="content-1">
            <ul>
                <li>
                    <a class="img" href="#">
                        <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                    </a>
                    <div class="a-con">
                        <p class="t"><a href="#">卢舜禹作品</a></p>
                        <p>作者：<span class="yellow">卢舜禹</span></p>
                        <p>发布时间：2014-05-28</p>
                        <p>尺寸：210cm*560cm</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="#">
                        <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                    </a>
                    <div class="a-con">
                        <p class="t"><a href="#">卢舜禹作品</a></p>
                        <p>作者：卢舜禹</p>
                        <p>发布时间：2014-05-28</p>
                        <p>尺寸：210cm*560cm</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="#">
                        <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                    </a>
                    <div class="a-con">
                        <p class="t"><a href="#">卢舜禹作品</a></p>
                        <p>作者：卢舜禹</p>
                        <p>发布时间：2014-05-28</p>
                        <p>尺寸：210cm*560cm</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="#">
                        <img src="{IMG_PATH}column-img/202.jpg" width="115" height="115" alt="" />
                    </a>
                    <div class="a-con">
                        <p class="t"><a href="#">卢舜禹作品</a></p>
                        <p>作者：卢舜禹</p>
                        <p>发布时间：2014-05-28</p>
                        <p>尺寸：210cm*560cm</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-2 hide"></div>
        <div class="content-3 hide"></div>
        <div class="content-4 hide"></div>
        <div class="content-5 hide"></div>
        <div class="content-6 hide"></div>
        <div class="content-7 hide"></div>
        <div class="content-8 hide"></div>
    </div>
</div>
</div>
<div class="right-side">
<div class="recently-collect">
    <div class="comm-t clear">
        <h2>最新征集</h2>
    </div>
    <div class="content">
        <ul class="last-ele">
            <li>
                <div class="t-c clear">
                    <p class="left">辽宁建投拍卖公司</p>
                    <p class="right">截止：13/06/17</p>
                </div>
                <div class="b-c">
                    <i></i>
                    <p>征集范围：</p>
                    <p>
                        <span>绘画</span>
                        <span>书法</span>
                        <span>金石篆刻</span>
                        <span>陶瓷</span>
                        <span>玉器</span>
                        <a href="#">详情>></a>
                    </p>
                </div>
            </li>
            <li>
                <div class="t-c clear">
                    <p class="left">辽宁建投拍卖公司</p>
                    <p class="right">截止：13/06/17</p>
                </div>
                <div class="b-c hide">
                    <i></i>
                    <p>征集范围：</p>
                    <p>
                        <span>绘画</span>
                        <span>书法</span>
                        <span>金石篆刻</span>
                        <span>陶瓷</span>
                        <span>玉器</span>
                        <a href="#">详情>></a>
                    </p>
                </div>
            </li>
            <li>
                <div class="t-c clear">
                    <p class="left">辽宁建投拍卖公司</p>
                    <p class="right">截止：13/06/17</p>
                </div>
                <div class="b-c hide">
                    <i></i>
                    <p>征集范围：</p>
                    <p>
                        <span>绘画</span>
                        <span>书法</span>
                        <span>金石篆刻</span>
                        <span>陶瓷</span>
                        <span>玉器</span>
                        <a href="#">详情>></a>
                    </p>
                </div>
            </li>
            <li>
                <div class="t-c clear">
                    <p class="left">辽宁建投拍卖公司</p>
                    <p class="right">截止：13/06/17</p>
                </div>
                <div class="b-c hide">
                    <i></i>
                    <p>征集范围：</p>
                    <p>
                        <span>绘画</span>
                        <span>书法</span>
                        <span>金石篆刻</span>
                        <span>陶瓷</span>
                        <span>玉器</span>
                        <a href="#">详情>></a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="ope-auction clear">
    <p class="left">
        <a href="#">
            <img src="{IMG_PATH}icons/geren.jpg" alt="" />
        </a>
    </p>
    <p class="right">
        <a href="#">
            <img src="{IMG_PATH}icons/qiye.jpg" alt="" />
        </a>
    </p>
</div>
<div class="point-ranking">
    <div class="comm-t clear">
        <h2>拍卖会点击排行</h2>
    </div>
    <div class="content">
        <ul>
            <li class="top3">
                <span class="num">1</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
            <li class="top3">
                <span class="num">2</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
            <li class="top3">
                <span class="num">3</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">4</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>

            <li>
                <span class="num">5</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">6</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">7</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">8</span>
                <span class="name">2013年春季文物艺术品书画专</span>
                <span class="number">168051 次</span>
            </li>
        </ul>
    </div>
</div>
<div class="brand-recommend clear">
    <div class="comm-t clear">
        <h2>品牌推荐</h2>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="img"><img src="{IMG_PATH}column-img/206.jpg" width="110" height="50" alt="" /></p>
                    <p>蘇富比</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="advertise clear">
    <a href="#"><img src="{IMG_PATH}column-img/207.jpg" width="275" height="90" alt="" /></a>
    <a href="#"><img src="{IMG_PATH}column-img/207.jpg" width="275" height="90" alt="" /></a>
    <a href="#"><img src="{IMG_PATH}column-img/207.jpg" width="275" height="90" alt="" /></a>
    <a href="#"><img src="{IMG_PATH}column-img/207.jpg" width="275" height="90" alt="" /></a>
</div>
<div class="update-classify">
    <div class="comm-t clear">
        <h2>上传最多类别</h2>
    </div>
    <div class="content">
        <ul>
            <li>
                <span class="num top3">1</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num top3">2</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num top3">3</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">4</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">5</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">6</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">7</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
            <li>
                <span class="num">8</span>
                <span class="name">书画</span>
                <span class="number">168051 次</span>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>

</block>
<block name="bottom_js">
    <script type="text/javascript">
        $(document).ready(function(){
            jumpPanel('.species','.species-jump',true,'.species-content');
            commSelect('.info-log .common-select',20);
            _chooseCity('#nav-local');
            arrSlide('.slideshow');
            $('.hot-collect li:nth-child(2n)').css('margin-right','0');
            tabelTab('.collect-classify','.column');
            $('.new-opus .tab-content li:nth-child(2n)').css('margin-right','0');
        });
    </script>
</block>
