<extend name="Admin@Public:base" />
<block name="style">
    <load file="__PUBLIC__/plugin/treetable/css/treetable.css" />
    <link href="{CSS_PATH}Paimai/comm.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">
    <!--快捷按钮 开始-->
    <div class="nav_btn">
        <a class="fa fa-plus-square" href="javascript:$.dialog.open('{:U('Paimai/AdminCategory/add')}', {title:'添加商品分类', id:'adoArticle'})"> 添加商品分类</a>

    </div>
    <!--快捷按钮 结束-->

    <table class="m_table">
        <tr><th>属性ID</th><th>分类名称</th><th>是否可用</th><th>是否在前台显示</th><th>单位</th><th>价格分段</th><th>操作</th></tr>
        <volist name="lists" id="v">
            <tr>
                <td id="id">{$v.cat_id}</td>
                <td>{$v.cat_name}</td>
                <td>{$v.cat_isshow}</td>
                <td>{$v.cat_show_in_front}</td>
                <td>{$v.cat_unit}</td>
                <td>{$v.cat_grade}</td>

                <td><a href="{:U('Paimai/AdminCategory/edit',array('cat_id'=>$v['cat_id']))}">编辑</a>|<a class="j_del" href="{:U('Paimai/AdminCategory/delete',array('cat_id'=>$v['cat_id']))}">删除</a></td>
            </tr>
        </volist>
    </table>
    <script>
        $(function(){

            //判断删除
            $(".j_del").click(function(e){
                if(!confirm("你确认删除这个类型,如果删除这个商品类型下面的所有属性都将被删除!")){
                    e.preventDefault();
                }
            });

        })
    </script>
</block>
