<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{CSS_PATH}Jinrong/jrindex.css" type="text/css" rel="stylesheet">
<title>金融主页</title>
<script type="text/javascript" src="{JS_PATH}Jinrong/jquery.1.4.2.js" language="javascript"></script>
<script src="{JS_PATH}Jinrong/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{JS_PATH}Jinrong/jquery.jcarousel.min.js"></script>
<script type="text/javascript">
function  show_div(kk)
 {
  var hh=document.getElementById(kk);
      hh.style.display="block";
 }  
function hid_div(oo){
  var mm=document.getElementById(oo);
       mm.style.display="none";
 }
 $(function() {jQuery('#mycarousel').jcarousel();})
</script>

</head>
<body>
<!--titlte start-->
<div class="title">
     <div class="main-container">
    <span class="left">中国艺术网！<a href="#">用户登录</a><a href="#">免费注册</a></span>
    <span class="right"><a href="#">设为首页</a>|<a href="#">收藏本站</a></span>
     </div>
</div>
<!--title end-->
<!--nav start-->
 <div class="nav_c">
  <div class="main-container">
     <div class="left logo"><img src="{IMG_PATH}Jinrong/icons/01.jpg" border="0"><span class="right">众筹频道</span></div>
	 <div class="nav left"><a href="#" class="select">首页</a><a href="#">交流</a><a href="#">拍卖</a><a href="#">寄售</a></div>
	 <div class="right nav_wyzc"><a href="#">我要众筹</a></div>
  </div>
 </div>
<!--nav end-->
<div id="slideBox2" class="slideBox2">
			<div class="hd">
				<ul><li></li><li></li><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
					<li><img src="{IMG_PATH}Jinrong/banner.jpg" /></li>
					<li><img src="{IMG_PATH}Jinrong/banner.jpg" /></li>
					<li><img src="{IMG_PATH}Jinrong/banner.jpg" /></li>
                    <li><img src="{IMG_PATH}Jinrong/banner.jpg" /></li>
                    <li><img src="{IMG_PATH}Jinrong/banner.jpg" /></li>
				</ul>
			</div>
            <div class="prev" href="javascript:void(0)"></div>
			<div class="next" href="javascript:void(0)"></div>
            
		</div>
   
   
   <script type="text/javascript">
		jQuery(".slideBox2").slide({mainCell:".bd ul",autoPlay:true});
		</script>
<!--内容 start-->
  <div class="main-container">
       <!--left start-->
	       <div class="jr_left">
		    <!--newonline start-->
			<div class="jr_newonline">
			   <!--start-->
		         <div class="jr_newonlinetop"><span class="sanjiao"></span>
				 <div class="right">
				 <a href="#">所有项目（2151）</a>
				  <div class="jr_syxm hide">
				 <a href="#">众筹中</a>
				 <a href="#">已成功</a>
				 <a href="#" class="b-0">即将开始</a>				  
				  </div>
				 </div>
				 <div class="left">最新上线</div>
				 </div>
			   <!--end-->
			   <div class="jr_newonlinedown">
			         <div class="jr_newonlinedown_top" id="jrs_title">
					 <a href="#" class="select" id="jrs_t1" onmousedown="swop_tab(9,1,'jrs_t','jrs_t0','jrs_title_')"  >古今书画</a>
					 <a href="#" id="jrs_t2" onmousedown="swop_tab(9,2,'jrs_t','jrs_t0','jrs_title_')" >玉器玛瑙</a>
					 <a href="#" id="jrs_t3" onmousedown="swop_tab(9,3,'jrs_t','jrs_t0','jrs_title_')" >翡翠宝石</a>
					 <a href="#" id="jrs_t4" onmousedown="swop_tab(9,4,'jrs_t','jrs_t0','jrs_title_')" >紫砂瓷器</a>
					 <a href="#" id="jrs_t5" onmousedown="swop_tab(9,5,'jrs_t','jrs_t0','jrs_title_')" >文玩木器</a>
					 <a href="#" id="jrs_t6" onmousedown="swop_tab(9,6,'jrs_t','jrs_t0','jrs_title_')" >邮币卡类</a>
					 <a href="#" id="jrs_t7" onmousedown="swop_tab(9,7,'jrs_t','jrs_t0','jrs_title_'')" >奇石玩石</a>
					 <a href="#" id="jrs_t8" onmousedown="swop_tab(9,8,'jrs_t','jrs_t0','jrs_title_')" >佛教用品</a>
					 <a href="#" id="jrs_t9" onmousedown="swop_tab(9,9,'jrs_t','jrs_t0','jrs_title_')" >其他国家艺术品</a></div>
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t01">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t02">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔康卡绿度母2</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t03">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">333尼泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t04">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">4444尼泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t05">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼5555泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t06">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼6666泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t07">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔77康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t08">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔康888卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
					 <!--start-->
					 <div class="jr_newonlinedown_d" id="jrs_t09">
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔康卡999绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
                                <div class="progress">
                                   <div><span style="width:16.8%;"></span></div>
                                   <p>众筹中</p>
                                </div>
								<div class="jr_txtbtn"><a href="#" class="red-btn">立即投标</a></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->
			   </div>
			</div>
			<!--newonline end-->

		    <!--newonline start-->
			<div class="jr_newonline">
			   <!--start-->
		         <div class="jr_newonlinetop"><span class="sanjiao"></span>
				 <div class="left">成功案例</div>
				 </div>
			   <!--end-->
			   <div class="jr_newonlinedown">
					 <!--start-->
					 <div class="jr_newonlinedown_d" >
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
								<div class="jr_txtbtn"><a href="#" class="grey-btn">查看详情</a><span class="jr_ycg"></span></div>
							 </dd>
						 </dl>
					     <dl>
						     <dt><a href="#"><img src="{IMG_PATH}Jinrong/01.jpg" border="0"></a></dt>
							 <dd>
							    <div class="jr_txt"><a href="#">尼泊尔康卡绿度母</a></div>
								<div class="jr_txt02">投资当日计息 百元起购 零手续费</div>
								<div class="jr_txt03">
								<span class="red"><i >年利率化</i><b>16.80</b>%</span>
								<span><i>已筹金额</i><b>1000</b>元</span>
								<span><i>剩余时间</i><b>10</b>天</span>
								</div>
								<div class="jr_txtbtn"><a href="#" class="grey-btn">查看详情</a><span class="jr_ycg"></span></div>
							 </dd>
						 </dl>
					 </div>
					 <!--end-->

			   </div>
			</div>
			<!--newonline end-->

		   </div>
	   <!--left end-->
	   <!--right start-->
	      <div class="jr_right">
		       <!--start-->
			  <div class="jr_redian">
			       <div class="jr_redian_top"><span class="sanjiao"></span><span class="left"><img src="{IMG_PATH}Jinrong/icons/05.jpg"></span>青海收工藏毯 艺术展开幕</div>
				   <div class="jr_redian_down">
				      <p>【凑份子得房子11元1.1折】7大城市11套房源幸运者全部产生，点击【<a href="#">这里</a>】查看中奖用户</p>
				   </div>
			  </div>
			    <!--end-->
		       <!--start 我要众筹-->
			  <div class="jr_wyzc">
			       <div class="jr_wyzc_top">
				   <h1>艺术网融资</h1>
				      <p>【凑份子得房子11元1.1折】7大城市11套房源幸运者全部产查看中奖用户</p>
					   <div class="cb" ><a href="#"class="yellow_btn">我要众筹</a></div>
				   </div>
				   <div class="jr_wyzc_down">
				      <p><b>收益按日结算</b></p>
				      <p>资金变化 一目了然</p>
				   </div>
			  </div>
			    <!--end 我要众筹-->
		       <!--start 了解我们-->
			  <div class="jr_redian">
			       <div class="jr_redian_top"><span class="sanjiao"></span><b>了解我们</b></div>
				   <div class="jr_redian_down">
                       <ul>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
						   
					   </ul>
 				   </div>
			  </div>
			    <!--end 了解我们-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_01.jpg" border="0"></a></div>
				 <!--end ad-->
		       <!--start 众筹咨询-->
			  <div class="jr_redian">
			       <div class="jr_redian_top"><span class="sanjiao"></span><b>众筹咨询</b></div>
				   <div class="jr_redian_down">
                       <ul>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
						   
					   </ul>
 				   </div>
			  </div>
			    <!--end 众筹咨询-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_02.jpg" border="0"></a></div>
				 <!--end ad-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_03.jpg" border="0"></a></div>
				 <!--end ad-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_04.jpg" border="0"></a></div>
				 <!--end ad-->
		  </div>
	   <!---right end-->
  </div>
<!--end  内容-->
<!--foot start-->
 <div class="foot">
     <!--start top-->
	    <div class="foot_top">
		    <!--left-->
			  <div class="foot_topleft">
			      <!--start-->
			     <div class="foot_toplefttop">
				 <span class="f">我们已经做到</span>
				 <span><u>单向支持人数</u><b>6.3</b><i>万</i></span>
				 <span><u>单项筹款金额</u><b>634.3</b><i>万</i></span>
				 <span><u>累计筹款金额</u><b>62334.3</b><i>万</i></span>
				 </div>
				 <!--end-->
				 <!--start-->
				   			     
					  <div class="foot_topdown">
				      <h5>合作机构</h5>
					       <div class="cont6">
                              <ul id="mycarousel">
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_01.jpg"></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_02.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_03.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_04.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_05.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_06.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_01.jpg"/></a></li>
                              </ul>
                           </div>
				   </div>
				   
				 <!--end-->
			  </div>
			<!--left end-->
		    <!--right -->
			 <div class="foot_topright"></div>
			<!--end-->
		</div>
	 <!--top end-->
	 <!--down start-->
	    <div class="foot_down cb">
		   <div class="main-container">
		      <div class="left"> <p><a href="#">关于艺术网金融 </a> |  <a href="#">关于艺术网小金库</a>  |  <a href="#">关于网银钱包</a>  |  <a href="#">关于我们</a>  |  <a href="#">联系我们</a>  |  <a href="#">免责声明</a></p>
			    <p>Copyright Reserved 2000-2014 中国艺术网(www.yishu.com) 版权所有  |   投资有风险，购买需谨慎</p>
			  </div>
			  <div class="right">
			     <p>联系我们（9:00-22:00）</p>
				 <p><b>400 622 7186</b>(个人业务)</p>
				 <p><b>400 622 6586</b>(企业业务)</p>
			  </div>
		   </div>
		</div>
	 <!--down end-->
 </div>
<!--foot end-->
<script type="text/javascript" src="js/swop.public.js" language="javascript"></script>

</body>
</html>
