<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{CSS_PATH}Jinrong/jrindex.css" type="text/css" rel="stylesheet">
<title>详细</title>
<script type="text/javascript" src="{JS_PATH}Jinrong/jquery.1.4.2.js" language="javascript"></script>
<script type="text/javascript" src="{JS_PATH}Jinrong/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{JS_PATH}Jinrong/jquery.jcarousel.min.js"></script>
<script type="text/javascript">
 
  $(function() {
	  jQuery('#mycarousel').jcarousel();
	  
	$('.tab-title span').click(function(){ 
	$(this).addClass("selected").siblings().removeClass(); 
	$(".tab-content .tabn").eq($('.tab-title span').index(this)).show().siblings().hide(); });
	
	  })
  
  
</script>

</head>
<body>
<!--titlte start-->
<div class="title">
     <div class="main-container">
    <span class="left">中国艺术网！<a href="#">用户登录</a><a href="#">免费注册</a></span>
    <span class="right"><a href="#">设为首页</a>|<a href="#">收藏本站</a></span>
     </div>
</div>
<!--title end-->
<!--nav start-->
 <div class="nav_c">
  <div class="main-container">
     <div class="left logo"><img src="{IMG_PATH}Jinrong/icons/01.jpg" border="0"><span class="right">众筹频道</span></div>
	 <div class="nav left"><a href="#" class="select">首页</a><a href="#">交流</a><a href="#">拍卖</a><a href="#">寄售</a></div>
	 <div class="right nav_wyzc"><a href="#">我要众筹</a></div>
  </div>
 </div>
<!--nav end-->
		   <!--top start-->
		      <div class="jr_xx_top">
			    <div class="main-container">
			       <p><h1>尼泊尔唐卡绿度母</h1></p><p class="red">2014/11/44-2014/41/52 火热筹款中</p>
				 </div>
			  </div>
		   <!--top end-->		  

<!--内容 start-->
  <div class="main-container">
       <!--left start-->
	       <div class="jr_left">
		   <!--title start-->
		     <div class="jr_title">
			       <div class="left"><a href="#"><img src="{IMG_PATH}Jinrong/02.jpg" border="0"></a></div>
				   <div class="jr_titleright">
				    <div  class="jr_blue" >众筹成功<img src="{IMG_PATH}Jinrong/icons/12.jpg"></div>
				    <div  class="jr_blue jr_red hide" >众筹中...<img src="{IMG_PATH}Jinrong/icons/13.jpg"></div>
					<h2>已筹到</h2>
					<div class="jr_jg">￥<b>4794</b></div>
					<p>此项目必须在<i class="red">2014年11月45日</i>前得到</p>
					<p><i class="red">￥3000000</i>的支持才成功！剩余0天！</p>
                    <div class="progress"><span style="width:90%;"></span></div>
					<p><i class="black">44</i>名支持者</p>                    
					   <div class="jr_xmfqr">
					       <h3>项目发起人</h3>
						   <dl>
						      <dt><img src="{IMG_PATH}Jinrong/icons/14.jpg"></dt>
							  <dd><h2>Cloudbaby</h2><p>东阳派格华创影视传媒有限公司<br>发起：<span>4</span>    支持：<span>0</span></p></dd>
						   </dl>
				    	</div>
				   </div>
			 </div>
		   <!--title end-->
		     <!--newonline start-->
		<div class="tab-switch">
           <div class="tab-title">
              <span class="selected">项目详情</span>
              <span>支持者</span>
           </div>
           <div class="clear"></div>
           <div class="tab-content">
              <div class="tabn">
                 <div class="text">
                     <h5>商品简介</h5>
                     <p> 画的是绿度母的形象，人物有着端正优美的修长造型，风格纯正明确，有棋格状布局的典型构图。最上沿绘有南亚的热带植物每一蹄状龛形之外都饰有竖立如峰的条状山石图案，在色调的处理上明艳的朱砂红统一了整个画面，浓艳而稳重。在上首有狮象及人物半隐于树石之间。主尊外左右两竖排八位度母的坐姿富于变化，动势十分优美，主尊旁两位侍胁菩萨非站立而是盘坐，这几处展现了作品的个性。其市场价格约在五万左右，推荐收藏。</p>
                     <h5>商品规格</h5>
                     <p><span>商家：拉姆唐卡</span><span>工作室商家：拉姆唐卡</span>工作室存货地：上海</p>
                 </div>
                 <div class="pic">
                    <img src="{IMG_PATH}Jinrong/bigbar.jpg">
                 </div>
              </div>
              <div class="tabn hide">
              <div class="suppot">
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <dl>
                     <dt><img src="{IMG_PATH}Jinrong/icons/touxiang1.jpg"></dt>
                     <dd>
                         <h5>ven***ns</h5>
                         <p>支持项目￥399元<br>发起：<span>0</span> 支持：<span>1</span></p>
                     </dd>
                 </dl>
                 <div class="clear"></div>
                 </div>
              </div>
           </div>
        </div>       
        
        
			<!--newonline end-->


		   </div>
	   <!--left end-->
       
   
       
	   <!--right start-->
	      <div class="jr_right">
		       <!--start-->
			  <div class="jr_redian">
			       <div class="jr_redian_top"><span class="sanjiao"></span><span class="left"><img src="{IMG_PATH}Jinrong/icons/05.jpg"></span>青海收工藏毯 艺术展开幕</div>
				   <div class="jr_redian_down">
				      <p>【凑份子得房子11元1.1折】7大城市11套房源幸运者全部产生，点击【<a href="#">这里</a>】查看中奖用户</p>
				   </div>
			  </div>
			    <!--end-->
		       <!--start 我要众筹-->
			  <div class="jr_wyzc">
			       <div class="jr_wyzc_top">
				   <h1>艺术网融资</h1>
				      <p>【凑份子得房子11元1.1折】7大城市11套房源幸运者全部产查看中奖用户</p>
					   <div class="cb" ><a href="#"class="yellow_btn">我要众筹</a></div>
				   </div>
				   <div class="jr_wyzc_down">
				      <p><b>收益按日结算</b></p>
				      <p>资金变化 一目了然</p>
				   </div>
			  </div>
			    <!--end 我要众筹-->
		       <!--start 了解我们-->
			  <div class="jr_redian">
			       <div class="jr_redian_top"><span class="sanjiao"></span><b>了解我们</b></div>
				   <div class="jr_redian_down">
                       <ul>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
						   
					   </ul>
 				   </div>
			  </div>
			    <!--end 了解我们-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_01.jpg" border="0"></a></div>
				 <!--end ad-->
		       <!--start 众筹咨询-->
			  <div class="jr_redian">
			       <div class="jr_redian_top"><span class="sanjiao"></span><b>众筹咨询</b></div>
				   <div class="jr_redian_down">
                       <ul>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
					       <li>什么事众筹？</li>
						   
					   </ul>
 				   </div>
			  </div>
			    <!--end 众筹咨询-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_02.jpg" border="0"></a></div>
				 <!--end ad-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_03.jpg" border="0"></a></div>
				 <!--end ad-->
				 <!--start ad-->
				<div class="ad cb"><a href="#"><img src="{IMG_PATH}Jinrong/ad_04.jpg" border="0"></a></div>
				 <!--end ad-->
		  </div>
	   <!---right end-->
  </div>
<!--end  内容-->
<div class="clear"></div>
   <!-- 猜你喜欢-->
       <div class="you-like">
       <div class="like">
           <h2>猜你喜欢</h2>
           <ul>
              <li>
                 <a href=""><img src="{IMG_PATH}Jinrong/like1.jpg"></a>
                 <p>天然菠萝的海琥珀蜜蜡</p>
                 <div class="progress">
                   <div><span style="width:16.8%;"></span></div>
                   <p>众筹中</p>
                </div>
                <h4>年利率化<br><b>16.80%</b></h4>
                <h4>金额<br><b>￥1685</b></h4>
                <h4>剩余时间<br><b>16天</b></h4>
              </li>
              <li>
                 <a href=""><img src="{IMG_PATH}Jinrong/like1.jpg"></a>
                 <p>天然菠萝的海琥珀蜜蜡</p>
                 <div class="progress">
                   <div><span style="width:16.8%;"></span></div>
                   <p>众筹中</p>
                </div>
                <h4>年利率化<br><b>16.80%</b></h4>
                <h4>金额<br><b>￥1685</b></h4>
                <h4>剩余时间<br><b>16天</b></h4>
              </li>
              <li>
                 <a href=""><img src="{IMG_PATH}Jinrong/like1.jpg"></a>
                 <p>天然菠萝的海琥珀蜜蜡</p>
                 <div class="progress">
                   <div><span style="width:16.8%;"></span></div>
                   <p>众筹中</p>
                </div>
                <h4>年利率化<br><b>16.80%</b></h4>
                <h4>金额<br><b>￥1685</b></h4>
                <h4>剩余时间<br><b>16天</b></h4>
              </li>
              <li>
                 <a href=""><img src="{IMG_PATH}Jinrong/like1.jpg"></a>
                 <p>天然菠萝的海琥珀蜜蜡</p>
                 <div class="progress">
                   <div><span style="width:16.8%;"></span></div>
                   <p>众筹中</p>
                </div>
                <h4>年利率化<br><b>16.80%</b></h4>
                <h4>金额<br><b>￥1685</b></h4>
                <h4>剩余时间<br><b>16天</b></h4>
              </li>
              <li>
                 <a href=""><img src="{IMG_PATH}Jinrong/like1.jpg"></a>
                 <p>天然菠萝的海琥珀蜜蜡</p>
                 <div class="progress">
                   <div><span style="width:16.8%;"></span></div>
                   <p>众筹中</p>
                </div>
                <h4>年利率化<br><b>16.80%</b></h4>
                <h4>金额<br><b>￥1685</b></h4>
                <h4>剩余时间<br><b>16天</b></h4>
              </li>
              <div class="clear"></div>
           </ul>
       </div>
       </div>
<!--foot start-->
 <div class="foot">
     <!--start top-->
	    <div class="foot_top">
		    <!--left-->
			  <div class="foot_topleft">
			      <!--start-->
			     <div class="foot_toplefttop">
				 <span class="f">我们已经做到</span>
				 <span><u>单向支持人数</u><b>6.3</b><i>万</i></span>
				 <span><u>单项筹款金额</u><b>634.3</b><i>万</i></span>
				 <span><u>累计筹款金额</u><b>62334.3</b><i>万</i></span>
				 </div>
				 <!--end-->
				 <!--start-->
				   <div class="foot_topdown">
				      <h5>合作机构</h5>
					       <div class="cont6">
                              <ul id="mycarousel">
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_01.jpg"></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_02.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_03.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_04.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_05.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_06.jpg"/></a></li>
                                <li><a href=""><img src="{IMG_PATH}Jinrong/foot_01.jpg"/></a></li>
                              </ul>
                           </div>
				   </div>
				 <!--end-->
			  </div>
			<!--left end-->
		    <!--right -->
			 <div class="foot_topright"></div>
			<!--end-->
		</div>
	 <!--top end-->
	 <!--down start-->
	    <div class="foot_down cb">
		   <div class="main-container">
		      <div class="left"> <p><a href="#">关于艺术网金融 </a> |  <a href="#">关于艺术网小金库</a>  |  <a href="#">关于网银钱包</a>  |  <a href="#">关于我们</a>  |  <a href="#">联系我们</a>  |  <a href="#">免责声明</a></p>
			    <p>Copyright Reserved 2000-2014 中国艺术网(www.yishu.com) 版权所有  |   投资有风险，购买需谨慎</p>
			  </div>
			  <div class="right">
			     <p>联系我们（9:00-22:00）</p>
				 <p><b>400 622 7186</b>(个人业务)</p>
				 <p><b>400 622 6586</b>(企业业务)</p>
			  </div>
		   </div>
		</div>
	 <!--down end-->
 </div>
<!--foot end-->
<script type="text/javascript" src="js/swop.public.js" language="javascript"></script>

</body>
</html>
