
<extend name="Public:base" />
<block name="title"><title>{$title}</title></block>

<block name="body">
    <body class="selling-panel auction-org">
</block>

<block name="content">
    <!-- <div class="breadcurmbs">
        <b>你当前的位置：</b><a href="#">拍卖频道</a> > <a href="#">拍卖机构</a> > 拍卖信息
    </div> -->
    <div class="main-page clear">
        <div class="filter clear">
            <p class="total">共收录 <b>584</b> 家拍卖机构</p>
            <div class="q-area clear">
                <div class="left">
                    <ul>
                        <li><a href="#" class="select">全部</a></li>
                        <li><a href="#">京津地区</a></li>
                        <li><a href="#">长三角</a></li>
                        <li><a href="#">珠三角</a></li>
                        <li><a href="#">国内其他</a></li>
                        <li><a href="#">港澳台</a></li>
                        <li><a href="#">海外地区</a></li>
                    </ul>
                </div>
                <div class="right">
                    <input type="submit" class="submit" value="搜索" />
                    <input type="text" class="text" placeholder="请输入关键字..." />
                </div>
            </div>
            <div class="alphbate-list">
                <span><a href="#">A</a></span>
                <span><a href="#">B</a></span>
                <span><a href="#">C</a></span>
                <span><a href="#">D</a></span>
                <span><a href="#">E</a></span>
                <span><a href="#">F</a></span>
                <span><a href="#">G</a></span>
                <span><a href="#">H</a></span>
                <span><a href="#">I</a></span>
                <span><a href="#">J</a></span>
                <span><a href="#">K</a></span>
                <span><a href="#">L</a></span>
                <span><a href="#">M</a></span>
                <span><a href="#">N</a></span>
                <span><a href="#">O</a></span>
                <span><a href="#">P</a></span>
                <span><a href="#">Q</a></span>
                <span><a href="#">R</a></span>
                <span><a href="#">S</a></span>
                <span><a href="#">T</a></span>
                <span><a href="#">U</a></span>
                <span><a href="#">V</a></span>
                <span><a href="#">W</a></span>
                <span><a href="#">X</a></span>
                <span><a href="#">Y</a></span>
                <span><a href="#">Z</a></span>
                <span><a href="#">其它</a></span>
            </div>
        </div>
        <div class="org-list">
            <div class="l-block clear">
                <div class="alph">
                    <p class="p1">A</p>
                    <p class="p2">(13)</p>
                </div>
                <div class="l-name">
                    <ul>
                        <li><a href="#">安华白云</a></li>
                        <li><a href="#">安徽东方</a></li>
                        <li><a href="#">安徽和信</a></li>
                        <li><a href="#">安徽恒丰</a></li>
                        <li><a href="#">安徽华夏</a></li>
                        <li><a href="#">安徽九乐</a></li>
                        <li><a href="#">安徽圣大</a></li>
                        <li><a href="#">安徽盛佳</a></li>
                        <li><a href="#">安徽文一</a></li>
                        <li><a href="#">安徽艺海</a></li>
                        <li><a href="#">安徽中福</a></li>
                        <li><a href="#">澳门龙禧</a></li>
                    </ul>
                </div>
            </div>
            <div class="l-block clear">
                <div class="alph">
                    <p class="p1">B</p>
                    <p class="p2">(13)</p>
                </div>
                <div class="l-name">
                    <ul>
                        <li><a href="#">安华白云</a></li>
                        <li><a href="#">安徽东方</a></li>
                        <li><a href="#">安徽和信</a></li>
                        <li><a href="#">安徽恒丰</a></li>
                        <li><a href="#">安徽华夏</a></li>
                        <li><a href="#">安徽九乐</a></li>
                        <li><a href="#">安徽圣大</a></li>
                        <li><a href="#">安徽盛佳</a></li>
                        <li><a href="#">安徽文一</a></li>
                        <li><a href="#">安徽艺海</a></li>
                        <li><a href="#">安徽中福</a></li>
                        <li><a href="#">澳门龙禧</a></li>
                    </ul>
                </div>
            </div>
            <div class="l-block clear">
                <div class="alph">
                    <p class="p1">C</p>
                    <p class="p2">(13)</p>
                </div>
                <div class="l-name">
                    <ul>
                        <li><a href="#">安华白云</a></li>
                        <li><a href="#">安徽东方</a></li>
                        <li><a href="#">安徽和信</a></li>
                        <li><a href="#">安徽恒丰</a></li>
                        <li><a href="#">安徽华夏</a></li>
                        <li><a href="#">安徽九乐</a></li>
                        <li><a href="#">安徽圣大</a></li>
                        <li><a href="#">安徽盛佳</a></li>
                        <li><a href="#">安徽文一</a></li>
                        <li><a href="#">安徽艺海</a></li>
                        <li><a href="#">安徽中福</a></li>
                        <li><a href="#">澳门龙禧</a></li>
                    </ul>
                </div>
            </div>
            <div class="l-block clear">
                <div class="alph">
                    <p class="p1">D</p>
                    <p class="p2">(13)</p>
                </div>
                <div class="l-name">
                    <ul>
                        <li><a href="#">安华白云</a></li>
                        <li><a href="#">安徽东方</a></li>
                        <li><a href="#">安徽和信</a></li>
                        <li><a href="#">安徽恒丰</a></li>
                        <li><a href="#">安徽华夏</a></li>
                        <li><a href="#">安徽九乐</a></li>
                        <li><a href="#">安徽圣大</a></li>
                        <li><a href="#">安徽盛佳</a></li>
                        <li><a href="#">安徽文一</a></li>
                        <li><a href="#">安徽艺海</a></li>
                        <li><a href="#">安徽中福</a></li>
                        <li><a href="#">澳门龙禧</a></li>
                    </ul>
                </div>
            </div>
            <div class="l-block clear">
                <div class="alph">
                    <p class="p1">E</p>
                    <p class="p2">(13)</p>
                </div>
                <div class="l-name">
                    <ul>
                        <li><a href="#">安华白云</a></li>
                        <li><a href="#">安徽东方</a></li>
                        <li><a href="#">安徽和信</a></li>
                        <li><a href="#">安徽恒丰</a></li>
                        <li><a href="#">安徽华夏</a></li>
                        <li><a href="#">安徽九乐</a></li>
                        <li><a href="#">安徽圣大</a></li>
                        <li><a href="#">安徽盛佳</a></li>
                        <li><a href="#">安徽文一</a></li>
                        <li><a href="#">安徽艺海</a></li>
                        <li><a href="#">安徽中福</a></li>
                        <li><a href="#">澳门龙禧</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</block>
<block name="bottom_js">
    <script type="text/javascript">
        $(document).ready(function(){
            jumpPanel('.species','.species-jump',true,'.species-content');
            commSelect('.info-log .common-select',20);
            _chooseCity('#nav-local');
            $('.org-list .l-block:last').css({'margin-bottom':'0','padding-bottom':'0','border':'0'});
        });
    </script>
</block>
